In [4]:
import pandas as pd
import numpy as np
import gmaps
import matplotlib.pyplot as plt

SIMPLE
## 1. Get Summary Statistics: Count, Mean, std, min, 25%, 50%, 75%, max

In [5]:
df = pd.read_csv("Data/KickstarterData.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 33 columns):
id                        4120 non-null int64
photo                     4120 non-null object
name                      4120 non-null object
blurb                     4119 non-null object
goal                      4120 non-null float64
pledged                   4120 non-null float64
state                     4120 non-null object
slug                      4120 non-null object
disable_communication     4120 non-null bool
country                   4120 non-null object
currency                  4120 non-null object
currency_symbol           4120 non-null object
currency_trailing_code    4120 non-null bool
deadline                  4120 non-null int64
state_changed_at          4120 non-null int64
created_at                4120 non-null int64
launched_at               4120 non-null int64
staff_pick                4120 non-null bool
is_starrable              4120 non-null bool
backers_count             4120 non-null int64
static_usd_rate           4120 non-null float64
usd_pledged               4120 non-null float64
creator                   4120 non-null object
location                  4115 non-null object
category                  4120 non-null object
profile                   4120 non-null object
spotlight                 4120 non-null bool
urls                      4120 non-null object
source_url                4120 non-null object
friends                   0 non-null float64
is_starred                0 non-null float64
is_backing                0 non-null float64
permissions               0 non-null float64
dtypes: bool(5), float64(8), int64(6), object(14)
memory usage: 921.5+ KB

In [13]:
stats = df.describe()
stats.T

,count,mean,std,min,25%,50%,75%,max
id,4120.0,1.067636e+09,6.122953e+08,3.428810e+05,5.530744e+08,1.059035e+09,1.605195e+09,2.146845e+09
goal,4120.0,1.223353e+05,2.394603e+06,1.000000e+00,2.200000e+03,7.000000e+03,2.500000e+04,1.000000e+08
pledged,4120.0,3.204794e+03,1.614901e+04,0.000000e+00,2.000000e+00,1.755000e+02,2.018500e+03,3.699900e+05
deadline,4120.0,1.438842e+09,3.459833e+07,1.247608e+09,1.417403e+09,1.433302e+09,1.462748e+09,1.507611e+09
state_changed_at,4120.0,1.438619e+09,3.468037e+07,1.241574e+09,1.417305e+09,1.433122e+09,1.462554e+09,1.502831e+09
created_at,4120.0,1.432565e+09,3.541073e+07,1.240955e+09,1.411460e+09,1.427911e+09,1.457223e+09,1.502813e+09
launched_at,4120.0,1.435929e+09,3.468566e+07,1.241289e+09,1.414525e+09,1.430553e+09,1.459900e+09,1.502830e+09
backers_count,4120.0,2.915218e+01,1.104967e+02,0.000000e+00,1.000000e+00,5.000000e+00,2.600000e+01,3.722000e+03
static_usd_rate,4120.0,1.058860e+00,2.620784e-01,4.564126e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.715893e+00
usd_pledged,4120.0,3.058072e+03,1.473765e+04,0.000000e+00,2.000000e+00,1.730709e+02,2.100250e+03,3.612939e+05
friends,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_starred,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_backing,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
permissions,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

MEDIUM +
## 2. Filtering Data using Dates: Show only 2016 for both Feb and March

In [14]:
df2 = pd.read_csv("Data/dash_price.csv")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 7 columns):
Date          1312 non-null object
Open          1312 non-null float64
High          1312 non-null float64
Low           1312 non-null float64
Close         1312 non-null float64
Volume        1312 non-null float64
Market Cap    1312 non-null object
dtypes: float64(5), object(2)
memory usage: 71.9+ KB

In [23]:
# hint: Check if Datetime data type exists. If not, cast the field to Datetime
df2['Date'] = pd.to_datetime(df2['Date'],infer_datetime_format=True)

,Date,Open,High,Low,Close,Volume,Market Cap
0,2017-09-17,298.590000,315.580000,278.170000,313.840000,38081600.0,"2,257,850,000"
1,2017-09-16,284.500000,301.230000,276.570000,298.860000,43702600.0,"2,150,800,000"
2,2017-09-15,236.050000,300.110000,220.510000,284.360000,72695500.0,"1,784,040,000"
3,2017-09-14,301.110000,303.740000,236.240000,236.240000,35013800.0,"2,275,100,000"
4,2017-09-13,324.720000,325.160000,287.250000,301.290000,28322500.0,"2,452,930,000"
...,...,...,...,...,...,...,...
1307,2014-02-18,1.180000,1.500000,0.841751,1.040000,160779.0,"3,960,320"
1308,2014-02-17,0.406039,1.500000,0.402588,1.450000,178618.0,"1,360,260"
1309,2014-02-16,0.325840,0.459833,0.310345,0.406976,28017.0,"1,085,280"
1310,2014-02-15,0.331111,0.354461,0.219434,0.314865,21119.0,"1,092,120"
1311,2014-02-14,0.213899,0.378883,0.213899,0.374024,15422.0,"702,537"

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 7 columns):
Date          1312 non-null datetime64[ns]
Open          1312 non-null float64
High          1312 non-null float64
Low           1312 non-null float64
Close         1312 non-null float64
Volume        1312 non-null float64
Market Cap    1312 non-null object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 71.9+ KB

In [30]:
df2[(df2['Date'].dt.year == 2016) & ((df2['Date'].dt.month == 3) | (df2['Date'].dt.month == 2))]

          Date  Open  High   Low  Close    Volume  Market Cap
535 2016-03-31  6.78  6.98  6.78   6.88  220521.0  42,907,900
536 2016-03-30  7.09  7.11  6.76   6.78  280500.0  44,853,600
537 2016-03-29  7.06  7.18  6.88   7.08  268689.0  44,656,600
538 2016-03-28  7.05  7.37  6.53   7.06  577452.0  44,584,400
539 2016-03-27  7.21  7.32  6.82   7.05  441517.0  45,577,300
540 2016-03-26  7.44  7.44  7.03   7.21  362976.0  47,037,100
541 2016-03-25  6.66  7.53  6.59   7.44  878166.0  42,063,300
542 2016-03-24  6.67  6.69  6.28   6.66  461165.0  42,140,700
543 2016-03-23  6.10  6.61  6.02   6.59  532087.0  38,489,700
544 2016-03-22  5.97  6.25  5.91   6.09  287782.0  37,671,000
545 2016-03-21  6.12  6.46  6.01   6.01  398501.0  38,624,800
546 2016-03-20  5.77  6.14  5.77   6.12  220354.0  36,389,900
547 2016-03-19  5.94  6.12  5.78   5.99  261243.0  37,472,700
548 2016-03-18  5.98  6.17  5.66   5.95  301156.0  37,683,500
549 2016-03-17  6.33  6.44  5.64   5.98  595131.0  39,879,100
550 2016-03-16  5.86  6.56  5.77   6.33  953870.0  36,885,300
551 2016-03-15  5.53  5.92  5.36   5.84  310793.0  34,795,400
552 2016-03-14  5.68  5.99  5.42   5.54  395433.0  35,742,700
553 2016-03-13  5.35  6.03  5.31   5.68  738440.0  33,630,800
554 2016-03-12  5.19  5.39  4.96   5.31  313635.0  32,617,000
555 2016-03-11  4.93  5.36  4.88   5.15  342455.0  30,996,500
556 2016-03-10  4.57  5.30  4.49   4.92  476033.0  28,738,100
557 2016-03-09  4.62  4.71  4.51   4.57  200317.0  29,000,600
558 2016-03-08  4.29  4.61  4.19   4.60  250496.0  26,925,200
559 2016-03-07  4.58  4.73  4.30   4.30  305007.0  28,727,400
560 2016-03-06  4.92  5.14  4.58   4.58  487244.0  30,831,500
561 2016-03-05  4.62  5.38  4.53   4.87  590483.0  28,949,900
562 2016-03-04  4.63  5.13  4.35   4.63  657278.0  29,006,700
563 2016-03-03  3.88  4.84  3.82   4.71  505229.0  24,286,300
564 2016-03-02  3.90  4.01  3.86   3.88  126503.0  24,404,300
565 2016-03-01  3.92  4.04  3.81   3.90  195998.0  24,506,800
566 2016-02-29  4.00  4.03  3.88   3.92  140688.0  25,026,700
567 2016-02-28  4.08  4.09  3.94   4.00  150601.0  25,488,700
568 2016-02-27  3.98  4.09  3.91   4.08  113700.0  24,850,600
569 2016-02-26  3.93  4.01  3.82   3.97   77086.0  24,550,400
570 2016-02-25  4.02  4.04  3.81   3.91  125778.0  25,097,700
571 2016-02-24  3.80  4.09  3.72   4.02  120323.0  23,708,800
572 2016-02-23  4.11  4.23  3.74   3.80  214434.0  25,662,900
573 2016-02-22  4.00  4.27  3.93   4.20  185000.0  24,945,400
574 2016-02-21  3.63  4.20  3.60   4.00  165716.0  22,636,600
575 2016-02-20  3.51  3.69  3.51   3.64   91429.0  21,876,300
576 2016-02-19  3.54  3.75  3.47   3.51  120692.0  22,081,300
577 2016-02-18  3.69  3.77  3.13   3.53  247042.0  22,963,300
578 2016-02-17  3.47  3.82  3.44   3.68  150307.0  21,632,400
579 2016-02-16  3.78  4.02  3.48   3.48  180945.0  23,519,100
580 2016-02-15  3.80  4.17  3.74   3.78  112454.0  23,666,400
581 2016-02-14  3.80  3.92  3.75   3.80   60426.0  23,641,000
582 2016-02-13  3.79  3.89  3.57   3.77  120917.0  23,573,000
583 2016-02-12  3.26  4.04  3.26   3.79  182601.0  20,278,400
584 2016-02-11  3.78  3.91  3.19   3.26  243649.0  23,519,900
585 2016-02-10  3.97  4.17  3.78   3.84  193410.0  24,665,700
586 2016-02-09  4.16  4.19  3.95   3.97  164368.0  25,846,400
587 2016-02-08  4.18  4.31  4.11   4.16   70569.0  25,946,900
588 2016-02-07  4.21  4.38  4.14   4.21  108239.0  26,116,700
589 2016-02-06  4.32  4.32  4.15   4.19   70855.0  26,780,100
590 2016-02-05  4.29  4.38  4.23   4.28   56705.0  26,596,100
591 2016-02-04  4.18  4.36  4.12   4.29  100963.0  25,855,900
592 2016-02-03  4.10  9.34  4.01   4.18   85544.0  25,379,300
593 2016-02-02  4.14  4.24  4.05   4.11  125829.0  25,608,100
594 2016-02-01  4.11  4.23  4.01   4.12   61713.0  25,394,100

          Date  Open  High   Low  Close    Volume  Market Cap
535 2016-03-31  6.78  6.98  6.78   6.88  220521.0  42,907,900
536 2016-03-30  7.09  7.11  6.76   6.78  280500.0  44,853,600
537 2016-03-29  7.06  7.18  6.88   7.08  268689.0  44,656,600
538 2016-03-28  7.05  7.37  6.53   7.06  577452.0  44,584,400
539 2016-03-27  7.21  7.32  6.82   7.05  441517.0  45,577,300
540 2016-03-26  7.44  7.44  7.03   7.21  362976.0  47,037,100
541 2016-03-25  6.66  7.53  6.59   7.44  878166.0  42,063,300
542 2016-03-24  6.67  6.69  6.28   6.66  461165.0  42,140,700
543 2016-03-23  6.10  6.61  6.02   6.59  532087.0  38,489,700
544 2016-03-22  5.97  6.25  5.91   6.09  287782.0  37,671,000
545 2016-03-21  6.12  6.46  6.01   6.01  398501.0  38,624,800
546 2016-03-20  5.77  6.14  5.77   6.12  220354.0  36,389,900
547 2016-03-19  5.94  6.12  5.78   5.99  261243.0  37,472,700
548 2016-03-18  5.98  6.17  5.66   5.95  301156.0  37,683,500
549 2016-03-17  6.33  6.44  5.64   5.98  595131.0  39,879,100
550 2016-03-16  5.86  6.56  5.77   6.33  953870.0  36,885,300
551 2016-03-15  5.53  5.92  5.36   5.84  310793.0  34,795,400
552 2016-03-14  5.68  5.99  5.42   5.54  395433.0  35,742,700
553 2016-03-13  5.35  6.03  5.31   5.68  738440.0  33,630,800
554 2016-03-12  5.19  5.39  4.96   5.31  313635.0  32,617,000
555 2016-03-11  4.93  5.36  4.88   5.15  342455.0  30,996,500
556 2016-03-10  4.57  5.30  4.49   4.92  476033.0  28,738,100
557 2016-03-09  4.62  4.71  4.51   4.57  200317.0  29,000,600
558 2016-03-08  4.29  4.61  4.19   4.60  250496.0  26,925,200
559 2016-03-07  4.58  4.73  4.30   4.30  305007.0  28,727,400
560 2016-03-06  4.92  5.14  4.58   4.58  487244.0  30,831,500
561 2016-03-05  4.62  5.38  4.53   4.87  590483.0  28,949,900
562 2016-03-04  4.63  5.13  4.35   4.63  657278.0  29,006,700
563 2016-03-03  3.88  4.84  3.82   4.71  505229.0  24,286,300
564 2016-03-02  3.90  4.01  3.86   3.88  126503.0  24,404,300
565 2016-03-01  3.92  4.04  3.81   3.90  195998.0  24,506,800
566 2016-02-29  4.00  4.03  3.88   3.92  140688.0  25,026,700
567 2016-02-28  4.08  4.09  3.94   4.00  150601.0  25,488,700
568 2016-02-27  3.98  4.09  3.91   4.08  113700.0  24,850,600
569 2016-02-26  3.93  4.01  3.82   3.97   77086.0  24,550,400
570 2016-02-25  4.02  4.04  3.81   3.91  125778.0  25,097,700
571 2016-02-24  3.80  4.09  3.72   4.02  120323.0  23,708,800
572 2016-02-23  4.11  4.23  3.74   3.80  214434.0  25,662,900
573 2016-02-22  4.00  4.27  3.93   4.20  185000.0  24,945,400
574 2016-02-21  3.63  4.20  3.60   4.00  165716.0  22,636,600
575 2016-02-20  3.51  3.69  3.51   3.64   91429.0  21,876,300
576 2016-02-19  3.54  3.75  3.47   3.51  120692.0  22,081,300
577 2016-02-18  3.69  3.77  3.13   3.53  247042.0  22,963,300
578 2016-02-17  3.47  3.82  3.44   3.68  150307.0  21,632,400
579 2016-02-16  3.78  4.02  3.48   3.48  180945.0  23,519,100
580 2016-02-15  3.80  4.17  3.74   3.78  112454.0  23,666,400
581 2016-02-14  3.80  3.92  3.75   3.80   60426.0  23,641,000
582 2016-02-13  3.79  3.89  3.57   3.77  120917.0  23,573,000
583 2016-02-12  3.26  4.04  3.26   3.79  182601.0  20,278,400
584 2016-02-11  3.78  3.91  3.19   3.26  243649.0  23,519,900
585 2016-02-10  3.97  4.17  3.78   3.84  193410.0  24,665,700
586 2016-02-09  4.16  4.19  3.95   3.97  164368.0  25,846,400
587 2016-02-08  4.18  4.31  4.11   4.16   70569.0  25,946,900
588 2016-02-07  4.21  4.38  4.14   4.21  108239.0  26,116,700
589 2016-02-06  4.32  4.32  4.15   4.19   70855.0  26,780,100
590 2016-02-05  4.29  4.38  4.23   4.28   56705.0  26,596,100
591 2016-02-04  4.18  4.36  4.12   4.29  100963.0  25,855,900
592 2016-02-03  4.10  9.34  4.01   4.18   85544.0  25,379,300
593 2016-02-02  4.14  4.24  4.05   4.11  125829.0  25,608,100
594 2016-02-01  4.11  4.23  4.01   4.12   61713.0  25,394,100

## 3. Show rows 0-30 only even rows and only columns that contain the word `Code`

In [43]:
df3 = pd.read_csv("Data/2016-FCC-New-Coders-Survey-Data.csv")

#hint: use DataFrame.columns.values to get a list of all the columns available since there are 113 columns
df3 = df3.filter(regex='Code')

df3 = df3[(df3.index % 2 == 0) & (df3.index < 31)]

df3

,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWomenCode,CodeEventWorkshop,PodcastCodeNewbie,ResourceCodeWars,ResourceCodecademy
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
16,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
28,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
30,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0

In [45]:
df3 = pd.read_csv("Data/2016-FCC-New-Coders-Survey-Data.csv")

df3.loc[[i for i in range(30) if i % 2 == 0], ['Code' in i for i in df3.columns.values]]

,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWomenCode,CodeEventWorkshop,PodcastCodeNewbie,ResourceCodeWars,ResourceCodecademy
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
16,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
28,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN

,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWomenCode,CodeEventWorkshop,PodcastCodeNewbie,ResourceCodeWars,ResourceCodecademy
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
16,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
28,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN