In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# Save file path to variable
filePath = os.path.join('Resources','Pokemon.csv')

In [6]:
# Read with Pandas
pokedex = pd.read_csv(filePath)

pokedex.columns
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [15]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
pokedex1= pokedex[['Type 1','HP','Attack','Sp. Atk','Sp. Def','Speed']]

In [18]:
# Create a dataframe of the average stats for each type of pokemon.
pokedex1Avg = pokedex1.groupby(['Type 1']).mean()

pokedex1Avg.head()

                 HP      Attack    Sp. Atk    Sp. Def      Speed
Type 1
Bug       56.884058   70.971014  53.869565  64.797101  61.681159
Dark      66.806452   88.387097  74.645161  69.516129  76.161290
Dragon    83.312500  112.125000  96.843750  88.843750  83.031250
Electric  59.795455   69.090909  90.022727  73.704545  84.500000
Fairy     74.117647   61.529412  78.529412  84.705882  48.588235

In [23]:
# Calculate the total power level of each type of pokemon by summing all of the stats together.
# Place the results into a new column.
# Hint: Research the sum method from pandas.

pokedex1Avg['Total'] = pokedex1Avg.sum(axis=1)

pokedex1Avg.head()

                 HP      Attack    Sp. Atk    Sp. Def      Speed       Total
Type 1
Bug       56.884058   70.971014  53.869565  64.797101  61.681159  616.405797
Dark      66.806452   88.387097  74.645161  69.516129  76.161290  751.032258
Dragon    83.312500  112.125000  96.843750  88.843750  83.031250  928.312500
Electric  59.795455   69.090909  90.022727  73.704545  84.500000  754.227273
Fairy     74.117647   61.529412  78.529412  84.705882  48.588235  694.941176

In [ ]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.