# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [2]:
# Import the necessary modules
import os
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [16]:
# Bring each CSV into a separate data frame
stats_2013 = pd.read_csv('../Resources/WWE-Data-2013.csv')
stats_2014 = pd.read_csv('../Resources/WWE-Data-2014.csv')
stats_2015 = pd.read_csv('../Resources/WWE-Data-2015.csv')
stats_2016 = pd.read_csv('../Resources/WWE-Data-2016.csv')

print(stats_2013.info())
print(stats_2014.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
Wrestler    168 non-null object
Wins        168 non-null int64
Losses      168 non-null int64
Draws       168 non-null int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
Wrestler    120 non-null object
Wins        120 non-null int64
Losses      120 non-null int64
Draws       120 non-null int64
dtypes: int64(3), object(1)
memory usage: 3.9+ KB
None

In [21]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
stats_2013_2014 = pd.merge(stats_2013, stats_2014, on='Wrestler', how='outer')

stats_2013_2014.head(10)

          Wrestler  Wins_x  Losses_x  Draws_x  Wins_y  Losses_y  Draws_y
0     Daniel Bryan   177.0      37.0      6.0    35.0      16.0      2.0
1     Dean Ambrose    70.0     134.0      4.0   129.0      36.0      2.0
2   Antonio Cesaro    80.0     126.0      1.0     5.0      24.0      0.0
3     Seth Rollins    50.0     150.0      4.0    87.0     105.0      4.0
4      Randy Orton   129.0      63.0      8.0    33.0      87.0      5.0
5     Roman Reigns    49.0     140.0      5.0   118.0      28.0      4.0
6           Ryback   103.0      88.0      3.0    43.0     114.0      1.0
7    Damien Sandow    39.0     147.0      3.0     3.0     113.0      0.0
8  Alberto Del Rio   126.0      53.0      4.0    31.0      82.0      1.0
9    Dolph Ziggler    62.0     117.0      1.0   134.0      60.0      2.0

In [23]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"

# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"
stats_2013_2014 = stats_2013_2014.rename(columns={
    'Wins_x':'Wins 2013',
    'Losses_x':'Losses 2013',
    'Draws_x':'Draws 2013',
    'Wins_y':'Wins 2014',
    'Losses_y':'Losses 2014',
    'Draws_y':'Draws 2014'
})

stats_2013_2014.head(10)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0
7,Damien Sandow,39.0,147.0,3.0,3.0,113.0,0.0
8,Alberto Del Rio,126.0,53.0,4.0,31.0,82.0,1.0
9,Dolph Ziggler,62.0,117.0,1.0,134.0,60.0,2.0

In [25]:
# Merge our newly combined dataframe with the 2015 dataframe
stats_2013_2014_2015 = pd.merge(stats_2013_2014,stats_2015,on='Wrestler',how='outer')
stats_2013_2014_2015

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...
208,Tommy Dreamer,NaN,NaN,NaN,NaN,NaN,NaN,4.0,9.0,1.0
209,Levis Valenzuela Jr.,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6.0,0.0
210,Cassie,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0
211,Gionna Daddio,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4.0,0.0
212,Tino Sabbatelli,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.0,0.0

In [26]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
stats_2013_2014_2015 = stats_2013_2014_2015.rename(columns={
    'Wins':'Wins 2015',
    'Losses':'Losses 2015',
    'Draws':'Draws 2015'
})

stats_2013_2014_2015.head(10)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0
7,Damien Sandow,39.0,147.0,3.0,3.0,113.0,0.0,50.0,9.0,2.0
8,Alberto Del Rio,126.0,53.0,4.0,31.0,82.0,1.0,26.0,13.0,2.0
9,Dolph Ziggler,62.0,117.0,1.0,134.0,60.0,2.0,115.0,52.0,2.0

In [27]:
# Merge our newly combined dataframe with the 2016 dataframe
stats_complete = pd.merge(stats_2013_2014_2015,stats_2016,on='Wrestler',how='outer')
stats_complete

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0

In [28]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"

stats_comlete = stats_complete.rename(columns={
    'Wins':'Wins 2016',
    'Losses':'Losses 2016',
    'Draws':'Draws 2016'
})

stats_complete.head(10)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0,142.0,12.0,5.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0,37.0,17.0,1.0
7,Damien Sandow,39.0,147.0,3.0,3.0,113.0,0.0,50.0,9.0,2.0,11.0,18.0,0.0
8,Alberto Del Rio,126.0,53.0,4.0,31.0,82.0,1.0,26.0,13.0,2.0,24.0,65.0,2.0
9,Dolph Ziggler,62.0,117.0,1.0,134.0,60.0,2.0,115.0,52.0,2.0,114.0,56.0,2.0