In [4]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [5]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/dow.sqlite")

In [6]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [7]:
# Collect the names of tables within the database
inspector.get_table_names()

['dow']

In [8]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('dow')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
quarter INTEGER
stock TEXT
date TEXT
open_price FLOAT
high_price FLOAT
low_price FLOAT
close_price FLOAT
volume INTEGER
percent_change FLOAT

In [9]:
pd.DataFrame(columns)

             name     type  nullable default autoincrement  primary_key
0              id  INTEGER     False    None          auto            1
1         quarter  INTEGER      True    None          auto            0
2           stock     TEXT      True    None          auto            0
3            date     TEXT      True    None          auto            0
4      open_price    FLOAT      True    None          auto            0
5      high_price    FLOAT      True    None          auto            0
6       low_price    FLOAT      True    None          auto            0
7     close_price    FLOAT      True    None          auto            0
8          volume  INTEGER      True    None          auto            0
9  percent_change    FLOAT      True    None          auto            0