In [2]:
import pandas as pd
import os

purchaseData = pd.read_csv("Resources/purchase_data.csv")

In [4]:
purchaseData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [7]:
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
uniquePurchData = purchaseData.nunique(axis=0)

uniquePurchData

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

In [68]:
pd.DataFrame({
    "Total Players":[purchaseData['SN'].unique().size]
})

#print(type(purchaseData['SN'].unique().size))

  Total Players
0           576

In [131]:
purchaseData.shape[0]

780

In [136]:
formatResults = pd.DataFrame({
    "Number of Unique Items":[purchaseData['Item Name'].unique().size],
    "Average Price":[purchaseData['Price'].mean()],
    "Number of Purchases":[purchaseData.shape[0]],
    "Total Revenue":[purchaseData['Price'].sum()]
})

formatResults['Average Price'] = formatResults['Average Price'].map('${:,.2f}'.format)
formatResults['Total Revenue'] = formatResults['Total Revenue'].map('${:,.2f}'.format)

formatResults

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [80]:
('{:.1f}'.format(purchaseData['Price'].mean()))

'3.1'

In [95]:
import pandas as pd
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])
df['foo'] = df['cost']
df['cost'] = df['cost'].map('${:,.2f}'.format)
print(df)

         cost       foo
foo   $123.46  123.4567
bar   $234.57  234.5678
baz   $345.68  345.6789
quux  $456.79  456.7890

In [125]:
formatResults['Average Price'] = formatResults['Average Price'].map('${:,.2f}'.format)

In [126]:
formatResults

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                    0              0

In [124]:
print(type(formatResults.iloc[0,1]))

print(type(formatResults['Average Price']))

<class 'numpy.float64'>
<class 'pandas.core.series.Series'>

In [ ]:
pd.DataFrame()

In [146]:
gender_demographics = pd.DataFrame({
    'Total Count': purchaseData['Gender'].value_counts(),
    'Percentage of Players': purchaseData['Gender'].value_counts(normalize = True) * 100
})

gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map('{:.2f}%'.format)

gender_demographics

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

In [151]:
purchaseData.groupby(['Gender'])['Age'].mean()

Gender
Female                   21.345133
Male                     22.917178
Other / Non-Disclosed    24.200000
Name: Age, dtype: float64

In [177]:
gender_analysis = pd.DataFrame({
    'Purchase Count': purchaseData['Gender'].value_counts(),
    'Average Purchase Price': purchaseData.groupby(['Gender'])['Price'].mean(),
    'Total Purchase Value': purchaseData.groupby(['Gender'])['Price'].sum(),
    'Avg Total Purchase per Person': purchaseData.groupby(['Gender', 'SN'])['Price'].sum().groupby(['Gender']).mean()
})

gender_analysis['Average Purchase Price'] = gender_analysis['Average Purchase Price'].map('${:,.2f}'.format)
gender_analysis['Total Purchase Value'] = gender_analysis['Total Purchase Value'].map('${:,.2f}'.format)
gender_analysis['Avg Total Purchase per Person'] = gender_analysis['Avg Total Purchase per Person'].map('${:,.2f}'.format)

gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [175]:
test = purchaseData.groupby(['Gender', 'SN'])['Price'].sum().groupby(['Gender']).mean()

test

#test.groupby(['Gender']).mean()

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64