# Python Quick Review

In [1]:
city = "Los Angeles"

charactes = [x for x in city]
print(charactes)

['L', 'o', 's', ' ', 'A', 'n', 'g', 'e', 'l', 'e', 's']

In [4]:
grades = [12, 10, 11, 15, 8, 9, 10, 7, 14, 15, 11, 6]

print(f'Max = {max(grades)}')
print(f'Min = {min(grades)}')
print(f'Sum = {sum(grades)}')
print(f'Count = {len(grades)}')
print(f'Average = {round(sum(grades)/len(grades),2)}')

Max = 15
Min = 6
Sum = 128
Count = 12
Average = 10.67

## Using `in`

In [6]:
cities = ["Los Angeles", "Memphis", "New York", "London", "Seattle", "Madrid"]

mycity = "Los Angeles"

if mycity in cities:
    print("I found a match")
else:
    print("It is not in the list")

I found a match

## Matching

In [16]:
Students = ["Mark", "mark", "MArK", "Jim"]

"maRk" in Students

False

In [17]:
"maRk".upper() in [x.upper() for x in Students]

True

In [18]:
[x.upper() for x in Students]

['MARK', 'MARK', 'MARK', 'JIM']

In [20]:
for name in Students:
    if "maRk".upper() == name.upper():
        print(True)
    else:
        print(False)

True
True
True
False

## Printing and Formatting: `\n` for new line

In [24]:
sometext = "Mark went on a hike.\nThen he came back late.\nHe got in Trouble"
sometext

'Mark went on a hike.\nThen he came back late.\nHe got in Trouble'

In [25]:
print(sometext)

Mark went on a hike.
Then he came back late.
He got in Trouble

In [28]:
name = "Jack"
age = 12
anothertext = (
    f"\nMy analysis\n"
    f"-------------\n"
    f"The name is {name}\n"
    f"The age = {age}\n")

In [29]:
anothertext

'\nMy analysis\n-------------\nThe name is Jack\nThe age = 12\n'

In [30]:
print(anothertext)

My analysis
-------------
The name is Jack
The age = 12

In [31]:
type(anothertext)

str

## Using f-string is not just for printing

In [34]:
fullsentence = f"my name is {name} and I am {age} years old"
print(fullsentence)

my name is Jack and I am 12 years old

same as above but adding some formatting with `\n` for new lines

In [38]:
fullsentence = f"my name is {name}\nand I am {age} years old"
print(fullsentence)

my name is Jack
and I am 12 years old

## More on Dictionaries

In [11]:
profiles = [
    {
        "name": "John Smith",
        "followers": 123,
        "following": 100,
        "active": True,
        "city": "Los Angeles"
    },
    {
        "name": "Mark Twain",
        "followers": 90,
        "following": 5,
        "active": True,
        "city": "Seattle"
    },
    {
        "name": "Samantha Collins",
        "followers": 500,
        "following": 640,
        "active": True,
        "city": "Las Vegas"
    },
    {
        "name": "Susan Smith",
        "followers": 120,
        "following": 4,
        "active": False,
        "city": "Los Angeles"
    },
        {
        "name": "Margret John",
        "followers": 23,
        "following": 23,
        "active": False,
        "city": "Los Angeles"
    },
        {
        "name": "Mike McDonald",
        "followers": 620,
        "following": 400,
        "active": False,
        "city": "Seattle"
    }
    
]

In [13]:
len(profiles)

6

In [15]:
for i in profiles:
    print(i["name"])

John Smith
Mark Twain
Samantha Collins
Susan Smith
Margret John
Mike McDonald

In [16]:
count = 0
for i in profiles:
    count += i["followers"]
print(count)

1476

In [17]:
cities = []

for i in profiles:
    if i["city"] not in cities:
        cities.append(i["city"])

print(cities)

['Los Angeles', 'Seattle', 'Las Vegas']

## Using `OS` Module

In [21]:
import os
os.getcwd()

'/Users/tarekatwan/Desktop/13- Combined Notebook/Notebook'

In [29]:
# point to employees.csv in the Resources folder
filepath = os.path.join("..", "Resources", "employees.csv")
filepath

'../Resources/employees.csv'

In [34]:
import csv
with open(filepath, 'r', newline='') as csvfile:
    csvcontent = csv.reader(csvfile, delimiter=',')
    
    print(csvcontent)
    header = next(csvcontent)
    for i in csvcontent:
        print(i[0])

<_csv.reader object at 0x10acd96d8>
Tina
Erica
Paula
James
Lauren
David
Andrew
Julian
Scott
Billy
Darrell
David

## Another way with `OS`

In [35]:
os.chdir('../Resources')
os.getcwd()

'/Users/tarekatwan/Desktop/13- Combined Notebook/Resources'

In [36]:
import csv
with open('employees.csv', 'r', newline='') as csvfile:
    csvcontent = csv.reader(csvfile, delimiter=',')
    
    print(csvcontent)
    header = next(csvcontent)
    for i in csvcontent:
        print(i[0])

<_csv.reader object at 0x10acd9a58>
Tina
Erica
Paula
James
Lauren
David
Andrew
Julian
Scott
Billy
Darrell
David