In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
dept = pd.read_csv('data/departments.csv')
dept_emp = pd.read_csv('data/dept_emp.csv')
dept_man  = pd.read_csv('data/dept_manager.csv')
emp = pd.read_csv('data/employees.csv')
sal  = pd.read_csv('data/salaries.csv')
tit = pd.read_csv('data/titles.csv')

In [17]:
dept.nunique()

dept_no      9
dept_name    9
dtype: int64

In [24]:
dept_emp.nunique()

emp_no       300024
dept_no           9
from_date      6393
to_date        6085
dtype: int64

In [19]:
dept_man.nunique()

dept_no       9
emp_no       24
from_date    16
to_date      16
dtype: int64

In [26]:
emp.nunique()

emp_no        300024
birth_date      4750
first_name      1276
last_name       1638
gender             2
hire_date       5434
dtype: int64

In [21]:
sal.nunique()

emp_no       300024
salary        50355
from_date      5481
to_date        5568
dtype: int64

In [22]:
tit.nunique()

emp_no       300024
title             7
from_date      6393
to_date        5888
dtype: int64