In [1]:
# Dependencies
import os
import pandas as pd

In [3]:
# Load in File from resources
# 'movie_scores.csv'

csvFilePath = os.path.join('Resources','movie_scores.csv')

movieScores_df = pd.read_csv(csvFilePath)

movieScores_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [4]:
# Read and display with pandas
movieScores_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [ ]:
# List all the columns the table provides
movieScores_d

In [37]:
a = [i for i in movieScores_df.columns if 'IMDB' in i]
b = ["FILM"] + a

for i in movieScores_df.columns:
    if "IMDB" in i:
        print(i)

IMDB
IMDB_norm
IMDB_norm_round
IMDB_user_vote_count

In [38]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB
newScores_df = movieScores_df[b]
newScores_df.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [12]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
goodMovies_df = newScores_df.loc[newScores_df["IMDB"] < 7, :]

goodMovies_df.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560
6,Irrational Man (2015),6.9,3.45,3.5,2680
7,Top Five (2014),6.5,3.25,3.5,16876
11,Black Sea (2015),6.4,3.20,3.0,16547

In [28]:
# Find lesser-known movies to watch, with fewer than 20K votes
lesserKnownMovies_df = newScores_df.loc[
    
    (newScores_df["IMDB_user_vote_count"] < 20000) & (newScores_df['IMDB'] > 7), :
]

lesserKnownMovies_df.head(100)

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
9,Love & Mercy (2015),7.8,3.90,4.0,5367
10,Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
20,"McFarland, USA (2015)",7.5,3.75,4.0,13769
29,The End of the Tour (2015),7.9,3.95,4.0,1320
30,Red Army (2015),7.7,3.85,4.0,2275
31,When Marnie Was There (2015),7.8,3.90,4.0,4160
32,The Hunting Ground (2015),7.5,3.75,4.0,1196
41,Timbuktu (2015),7.2,3.60,3.5,6246
66,The Gift (2015),7.6,3.80,4.0,10891
68,Monkey Kingdom (2015),7.3,3.65,3.5,883
70,Seymour: An Introduction (2015),7.7,3.85,4.0,243
71,The Wrecking Crew (2015),7.8,3.90,4.0,732
76,Straight Outta Compton (2015),8.4,4.20,4.0,15982
85,Little Boy (2015),7.4,3.70,3.5,5927
86,Me and Earl and The Dying Girl (2015),8.2,4.10,4.0,5269
92,Dope (2015),7.5,3.75,4.0,4911
95,The Salt of the Earth (2015),8.4,4.20,4.0,6605
96,Song of the Sea (2014),8.2,4.10,4.0,14067
109,The 100-Year-Old Man Who Climbed Out the Windo...,7.1,3.55,3.5,17237
117,Testament of Youth (2015),7.3,3.65,3.5,5495
118,Infinitely Polar Bear (2015),7.2,3.60,3.5,1062
119,Phoenix (2015),7.2,3.60,3.5,3687
120,The Wolfpack (2015),7.1,3.55,3.5,1488
121,The Stanford Prison Experiment (2015),7.1,3.55,3.5,950
122,Tangerine (2015),7.4,3.70,3.5,696
126,Woman in Gold (2015),7.4,3.70,3.5,17957
129,Amy (2015),8.0,4.00,4.0,5630
137,Danny Collins (2015),7.1,3.55,3.5,11206
141,Mr. Holmes (2015),7.4,3.70,3.5,7367
144,Gett: The Trial of Viviane Amsalem (2015),7.8,3.90,4.0,1955

In [16]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
goodMovies_df.to_excel('good_movies.xls', index=False)