In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import requests
import json
import geopy
from geopy import distance
import datetime as d
import matplotlib.pylab as plb
from scipy import stats
import statsmodels.api as sm
from mpl_toolkits.mplot3d import Axes3D

In [17]:
foo = pd.read_csv('life_expectancy_vs_museum_30mi_2019-10-28-183959.csv')
zip_coord = pd.read_csv('zip_coord.csv')

In [18]:
foo['Longitude'] = [0 for i in range(foo.shape[0])]

In [19]:
foo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527 entries, 0 to 1526
Data columns (total 5 columns):
Unnamed: 0         1527 non-null int64
Zip Code           1527 non-null int64
Life Expectancy    1527 non-null float64
Count              1527 non-null int64
Longitude          1527 non-null int64
dtypes: float64(1), int64(4)
memory usage: 59.8 KB

In [20]:
zip_coord

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.39398,-6,1,"34.398483,-94.39398"
1,72044,Edgemont,AR,35.624351,-92.16056,-6,1,"35.624351,-92.16056"
2,56171,Sherburn,MN,43.660847,-94.74357,-6,1,"43.660847,-94.74357"
3,49430,Lamont,MI,43.010337,-85.89754,-5,1,"43.010337,-85.89754"
4,52585,Richland,IA,41.194129,-91.98027,-6,1,"41.194129,-91.98027"
...,...,...,...,...,...,...,...,...
43186,66860,Madison,KS,38.126728,-96.16635,-6,1,"38.126728,-96.16635"
43187,59602,Helena,MT,46.696501,-111.96895,-7,1,"46.696501,-111.96895"
43188,16063,Zelienople,PA,40.783001,-80.13343,-5,1,"40.783001,-80.13343"
43189,18913,Carversville,PA,40.376499,-75.04129,-5,1,"40.376499,-75.04129"
43190,25901,Oak Hill,WV,37.982775,-81.14533,-5,1,"37.982775,-81.14533"

In [21]:
ca_zips = zip_coord[(zip_coord['Zip'] <= 96100) & (zip_coord['Zip'] >= 90000)]

In [25]:
ca_zips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2659 entries, 58 to 43148
Data columns (total 8 columns):
Zip                           2659 non-null int64
City                          2659 non-null object
State                         2659 non-null object
Latitude                      2659 non-null float64
Longitude                     2659 non-null float64
Timezone                      2659 non-null int64
Daylight savings time flag    2659 non-null int64
geopoint                      2659 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 267.0+ KB

In [ ]:
for i in range(foo.shape[0]):
    print(i)
    for j in range(ca_zips.shape[0]):
        try:
            if ca_zips.loc[j,'Zip'] == foo.loc[i,'Zip Code']:
                foo.loc[i,'Latitude'] = ca_zips.loc[j,'Latitude']
                foo.loc[i,'Longitude'] = ca_zips.loc[j,'Longitude']
        except:
            next

In [24]:
foo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527 entries, 0 to 1526
Data columns (total 6 columns):
Unnamed: 0         1527 non-null int64
Zip Code           1527 non-null int64
Life Expectancy    1527 non-null float64
Count              1527 non-null int64
Longitude          1527 non-null float64
Latitude           97 non-null float64
dtypes: float64(3), int64(3)
memory usage: 71.7 KB