In [20]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [7]:
# Figure out the minimum and maximum views for a TED Talk
print(ted_df['views'].min())
print(ted_df['views'].max())

50443
47227110

In [29]:
# Create bins in which to place values based upon TED Talk views
bins = [
    0,
    200000,
    400000,
    600000,
    800000,
    1000000,
    2000000,
    3000000,
    4000000,
    5000000,
    10000000,
    20000000,
    ted_df['views'].max()
]

binLabels = [
    '<200k',
    '200k - 400k',
    '400k - 600k',
    '600k - 800k',
    '800k - 1M',
    '1M - 2M',
    '2M - 3M',
    '3M - 4M',
    '4M - 5M',
    '5M - 10M',
    '10M - 20M',
    '>20M'
    
]
# Create labels for these bins

In [30]:
# Slice the data and place it into bins
binned_data = pd.cut(ted_df['views'], bins, labels=binLabels)

print(type(binned_data))

<class 'pandas.core.series.Series'>

In [39]:
# Place the data series into a new column inside of the DataFrame
ted_df['binned views'] = binned_data

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,binned views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,>20M
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,3M - 4M
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1M - 2M
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1M - 2M
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,10M - 20M

In [45]:
# Create a GroupBy object based upon "View Group"
ted_df.groupby(['binned views'])

# Find how many rows fall into each bin

ted_df['comments'].count()
# Get the average of each column within the GroupBy object

2550