In [1]:
from sqlalchemy import create_engine

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy import create_engine

In [2]:
from sqlalchemy import create_engine
database_path = "../Resources/sharks.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
Base.metadata.create_all(engine)

In [3]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [5]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';",engine.connect())

     name
0  sharks
1   shark

In [9]:
pd.read_sql("PRAGMA table_info('sharks')",engine.connect())

    cid                    name type  notnull dflt_value  pk
0     0                      id             0       None   0
1     1             case_number             0       None   0
2     2                    date             0       None   0
3     3                    year             0       None   0
4     4                    type             0       None   0
5     5                 country             0       None   0
6     6                    area             0       None   0
7     7                location             0       None   0
8     8                activity             0       None   0
9     9                    name             0       None   0
10   10                     sex             0       None   0
11   11                     age             0       None   0
12   12                  injury             0       None   0
13   13               fatal_y_n             0       None   0
14   14                    time             0       None   0
15   15                 species             0       None   0
16   16  investigator_or_source             0       None   0
17   17                     pdf             0       None   0
18   18          original_order             0       None   0

In [12]:
# create your shark class
# YOUR CODE HERE

In [ ]:
# print all locations of shark attacks
# YOUR CODE HERE

In [ ]:
# find the number of provoked attacks
# YOUR CODE HERE

In [ ]:
# find the number of attacks in USA
# YOUR CODE HERE

In [ ]:
# find the number of attacks in 2017
# YOUR CODE HERE

In [ ]:
# find the number of attacks while surfing
# YOUR CODE HERE

In [ ]:
# find the number of fatal attacks
# YOUR CODE HERE

In [ ]:
# find the number of fatal attacks while surfing
# YOUR CODE HERE

In [ ]:
# find the number of fatal attacks in 2017 in Australia
# YOUR CODE HERE