In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [2]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/database.sqlite")

In [3]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [10]:
# Collect the names of tables within the database
inspector.get_table_names()

['Salaries']

In [11]:
# Using the inspector to print the column names within the 'Salaries' table and its types
pd.DataFrame(inspector.get_columns('Salaries'))

                name     type  nullable default autoincrement  primary_key
0                 Id  INTEGER      True    None          auto            1
1       EmployeeName     TEXT      True    None          auto            0
2           JobTitle     TEXT      True    None          auto            0
3            BasePay  NUMERIC      True    None          auto            0
4        OvertimePay  NUMERIC      True    None          auto            0
5           OtherPay  NUMERIC      True    None          auto            0
6           Benefits  NUMERIC      True    None          auto            0
7           TotalPay  NUMERIC      True    None          auto            0
8   TotalPayBenefits  NUMERIC      True    None          auto            0
9               Year  INTEGER      True    None          auto            0
10             Notes     TEXT      True    None          auto            0
11            Agency     TEXT      True    None          auto            0
12            Status     TEXT      True    None          auto            0