# Intro to PyMongo

In [1]:
# Module used to connect Python with MongoDb
import pymongo

In [ ]:
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [2]:
client = pymongo.MongoClient("localhost", 27017)

In [18]:
# Define the 'classDB' database in Mongo
db = client.classDB

In [19]:
# Query all students
# Here, db.students refers to the collection 'classroom '
classroom = db.classroom.find()

In [20]:
# Iterate through each student in the collection
for student in classroom:
    print(student)

### Insert and Update
* `insert_one()`
* `update_one()`

In [6]:
db.classroom.insert_one(
    {
        'name': 'Ahmed',
        'row': 3,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Running', 'Stargazing', 'Reading']
    }
)

In [7]:
# Update a document
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$set':
        {'row': 4}
     }
)

In [8]:
# Add an item to a document array
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$push':
        {'hobbies': 'Listening to country music'}
     }
)

In [9]:
# Delete a field from a document
db.classroom.update_one({'name': 'Ahmed'},
                        {'$unset':
                         {'gavecandy': ""}
                         }
                        )

In [10]:

# Delete a document from a collection
db.classroom.delete_one(
    {'name': 'Ahmed'}
)

### Insert & Update Many Example
* `insert_many()`
* `update_many()`

In [26]:
db = client.bulky

In [12]:
data = [{
        'name': 'Ahmed',
        'row': 1,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Running', 'Stargazing', 'Reading', 'Walking']
    },{
        'name': 'Justin',
        'row': 2,
        'favorite_python_library': 'Pandas',
        'hobbies': ['Sleeping', 'Showering', 'Reading']
    },{
        'name': 'James',
        'row': 3,
        'favorite_python_library': 'Numpy',
        'hobbies': ['Coding', 'Reading', 'Eating']
    },{
        'name': 'Samantha',
        'row': 4,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Jumping', 'Fishing'],
        'college_grad': True,
        'highschool_grad': True,
        'city': 'Chicago'
    },{
        'name': 'Jessica',
        'row': 5,
        'fav_car_brand': 'Ford',
        'favorite_python_library': 'Pandas',
        'hobbies': ['Walking', 'Sleeping']
    }]

In [14]:
db.hobbies.insert_many(data)

In [15]:
db.hobbies.update_many(
    {'hobbies': 'Sleeping'},
    {"$set": {"hobbies.$": "Gym"}}
)

In [27]:
results = db.hobbies.find()

In [28]:
for r in results:
    print(f'{r["name"]} has {len(r["hobbies"])} hobbies')

Ahmed has 4 hobbies
Justin has 3 hobbies
James has 3 hobbies
Samantha has 2 hobbies
Jessica has 2 hobbies