# Clean up of Web_Index-Data_2014.xlsx

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
import getpass

In [84]:
xls = pd.ExcelFile('data/Web_Index-Data_2014.xlsx')

wb_a = pd.read_excel(xls, 'WB A')
pch_a = pd.read_excel(xls, 'PCH A')
itu_s = pd.read_excel(xls, 'ITU S')
un_b = pd.read_excel(xls, 'UN B')
wb_d = pd.read_excel(xls, 'WB D')
wb_c = pd.read_excel(xls, 'WB C')
wb_h = pd.read_excel(xls, 'WB H')
rsf_a = pd.read_excel(xls, 'RSF A')
fh_c = pd.read_excel(xls, 'FH C')
fh_a = pd.read_excel(xls, 'FH A')
fh_b = pd.read_excel(xls, 'FH B')
un_c = pd.read_excel(xls, 'UN C')
itu_n = pd.read_excel(xls, 'ITU N (world bank)')
un_d = pd.read_excel(xls, 'UN D')
raw = pd.read_excel(xls, 'Survey Scores Primary Raw Data')

In [85]:
spreadsheet = [
    wb_a,
    itu_s,
    un_b,
    wb_d,
    wb_c,
    wb_h,
    rsf_a,
    fh_c,
    fh_a,
    fh_b,
    un_c,
    itu_n,
    un_d
]

In [49]:
for table in spreadsheet:
    print(table.info(), end='\n\n---------------------\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secure Internet Servers per million population    89 non-null object
2007                                              89 non-null float64
2008                                              89 non-null float64
2009                                              89 non-null float64
2010                                              89 non-null float64
2011                                              89 non-null float64
2012                                              89 non-null float64
2013                                              89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Mobile broadband monthly subscription per GDPC    89 non-null object
2007                                              89 non-null object
2008                                              89 non-null object
2009                                              89 non-null object
2010                                              89 non-null object
2011                                              89 non-null object
2012                                              89 non-null object
2013                                              89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Literacy rates    89 non-null object
2007              65 non-null float64
2008              65 non-null float64
2009              65 non-null float64
2010              65 non-null float64
2011              65 non-null float64
2012              65 non-null float64
2013              65 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secondary enrolment rates (gross)    89 non-null object
2007                                 79 non-null float64
2008                                 80 non-null float64
2009                                 80 non-null float64
2010                                 80 non-null float64
2011                                 80 non-null float64
2012                                 80 non-null float64
2013                                 80 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
tertiary enrolment rates (gross) female/male    89 non-null object
2007                                            78 non-null float64
2008                                            78 non-null float64
2009                                            78 non-null float64
2010                                            78 non-null float64
2011                                            78 non-null float64
2012                                            78 non-null float64
2013                                            78 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
WB H school life expectancy female/male    89 non-null object
2007                                       89 non-null object
2008                                       89 non-null object
2009                                       89 non-null object
2010                                       89 non-null object
2011                                       89 non-null object
2012                                       89 non-null object
2013                                       89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Press Freedom Index    89 non-null object
2007                   89 non-null float64
2008                   89 non-null float64
2009                   89 non-null float64
2010                   89 non-null float64
2011                   89 non-null float64
2012                   89 non-null float64
2013                   89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Freedom of the press    89 non-null object
2007                                    89 non-null float64
2008                                    89 non-null float64
2009                                    89 non-null float64
2010                                    89 non-null float64
2011                                    89 non-null float64
2012                                    89 non-null float64
2013                                    89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Political Rights    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Civil Rights    89 non-null object
2007                            89 non-null float64
2008                            89 non-null float64
2009                            89 non-null float64
2010                            89 non-null float64
2011                            89 non-null float64
2012                            89 non-null float64
2013                            89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Government online services index    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Internet users per 100    89 non-null object
2007                      89 non-null float64
2008                      89 non-null float64
2009                      89 non-null float64
2010                      89 non-null float64
2011                      89 non-null float64
2012                      89 non-null float64
2013                      89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
E-participation index    89 non-null object
2007                     89 non-null float64
2008                     89 non-null float64
2009                     89 non-null float64
2010                     89 non-null float64
2011                     89 non-null float64
2012                     89 non-null float64
2013                     89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

In [27]:
for table in spreadsheet:
    print(table.head(), end='\n\n---------------------\n\n')

  Secure Internet Servers per million population        2007        2008  \
0                                      Argentina   15.636379   18.348585
1                                      Australia  814.832242  999.049376
2                                        Austria  400.082498  480.992634
3                                        Bahrain   40.683758   53.761610
4                                     Bangladesh    0.040968    0.101372

          2009         2010         2011         2012         2013
0    19.838275    26.105765    33.637183    41.789448    42.874812
1  1222.449140  1784.556868  2027.797672  1721.403456  1252.264287
2   553.717600   856.042435   994.743515  1139.028500  1079.328650
3    62.943806    98.281041   120.671677   135.829665   141.873678
4     0.193976     0.311000     0.628016     0.730468     0.766308

---------------------

   IXPs (if have IXPs=1; if not=0)  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   1.0   1.0   1.0   1.0   1.0   1.0   1.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   1.0   1.0   1.0   1.0   1.0   1.0   1.0
4                       Bangladesh   1.0   1.0   1.0   1.0   1.0   1.0   1.0

---------------------

  Mobile broadband monthly subscription per GDPC        2007        2008  \
0                                      Argentina   0.0575246   0.0575246
1                                      Australia   0.0115663   0.0101911
2                                        Austria  0.00742588  0.00674503
3                                        Bahrain   0.0161784   0.0153241
4                                     Bangladesh    0.312941       0.285

         2009        2010        2011        2012        2013
0   0.0575246   0.0575246   0.0575246   0.0516306   0.0516306
1  0.00981372  0.00928833  0.00861759  0.00413447  0.00377289
2  0.00677689  0.00669069  0.00656406  0.00140117    0.001383
3   0.0170422   0.0169697   0.0176842  0.00404908  0.00404908
4    0.257419    0.231304    0.207273    0.156145       0.144

---------------------

  Literacy rates       2007       2008       2009       2010       2011  \
0      Argentina  97.916092  97.916092  97.916092  97.916092  97.916092
1      Australia        NaN        NaN        NaN        NaN        NaN
2        Austria        NaN        NaN        NaN        NaN        NaN
3        Bahrain  94.556793  94.556793  94.556793  94.556793  94.556793
4     Bangladesh  58.787720  58.787720  58.787720  58.787720  58.787720

        2012       2013
0  97.916092  97.916092
1        NaN        NaN
2        NaN        NaN
3  94.556793  94.556793
4  58.787720  58.787720

---------------------

  Secondary enrolment rates (gross)       2007       2008       2009  \
0                         Argentina   84.71264   85.88642   88.57930
1                         Australia  125.38581  126.74231  128.78038
2                           Austria   99.46533   99.07034   99.30265
3                           Bahrain        NaN   92.03623   96.43667
4                        Bangladesh   46.37140   44.46002   48.17374

        2010       2011       2012       2013
0   90.22608   91.93817   91.93817   91.93817
1  130.84425  133.04507  135.53543  135.53543
2   98.54810   97.96985   97.69036   97.69036
3   96.43667  103.65631   95.51475   95.51475
4   49.48382   50.79390   50.79390   50.79390

---------------------

  tertiary enrolment rates (gross) female/male     2007     2008     2009  \
0                                    Argentina  152.337  152.520  151.235
1                                    Australia  129.143  131.370  134.610
2                                      Austria  119.927  118.156  117.882
3                                      Bahrain  157.467  157.467  157.467
4                                   Bangladesh   55.138   55.391   59.717

       2010     2011     2012     2013
0  150.9420  156.225  156.225  156.225
1  136.5470  137.598  138.061  138.061
2  117.1620  118.648  119.556  119.556
3  157.4670  187.744  198.164  198.164
4   64.3755   69.034   69.034   69.034

---------------------

  WB H school life expectancy female/male     2007     2008     2009     2010  \
0                               Argentina  1.04453  1.04977  1.04318  1.03721
1                               Australia  0.98747  0.98565   0.9782  0.97436
2                                 Austria  0.97015  0.96758   0.9685  0.97277
3                                 Bahrain       ..       ..       ..       ..
4                              Bangladesh  1.06881  1.09024  1.06345  1.08986

      2011     2012     2013
0  1.03808  1.03808  1.03808
1   0.9732  0.97221  0.97221
2  0.97532  0.97694  0.97694
3       ..       ..       ..
4  1.09623  1.09623  1.09623

---------------------

  Press Freedom Index   2007   2008   2009   2010   2011   2012   2013
0           Argentina  14.08  11.33  16.35   14.0  25.67  25.67  25.27
1           Australia   6.25   3.13   5.38    4.0  15.24  15.24  16.91
2             Austria   3.50   3.00   0.50   -8.0   9.40   9.40  10.01
3             Bahrain  21.17  36.50  51.38  125.0  62.75  62.75  58.26
4          Bangladesh  42.70  37.33  42.50   57.0  42.01  42.01  42.58

---------------------

  Freedom House - Freedom of the press  2007  2008  2009  2010  2011  2012  \
0                            Argentina  47.0  49.0  49.0  51.0  50.0  52.0
1                            Australia  21.0  22.0  22.0  21.0  21.0  21.0
2                              Austria  21.0  21.0  21.0  21.0  21.0  21.0
3                              Bahrain  71.0  71.0  71.0  72.0  84.0  86.0
4                           Bangladesh  68.0  63.0  56.0  54.0  52.0  53.0

   2013
0  51.0
1  22.0
2  21.0
3  87.0
4  54.0

---------------------

  Freedom House - Political Rights  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   5.0   5.0   6.0   6.0   6.0   6.0   6.0
4                       Bangladesh   5.0   4.0   3.0   3.0   3.0   3.0   3.0

---------------------

  Freedom House - Civil Rights  2007  2008  2009  2010  2011  2012  2013
0                    Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                    Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                      Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                      Bahrain   5.0   5.0   5.0   5.0   6.0   6.0   6.0
4                   Bangladesh   4.0   4.0   4.0   4.0   4.0   4.0   4.0

---------------------

  Government online services index     2007      2008     2009      2010  \
0                        Argentina  0.55852  0.485605  0.41269  0.471050
1                        Australia  0.75250  0.758785  0.76507  0.813905
2                          Austria  0.66555  0.570870  0.47619  0.610640
3                          Bahrain  0.52006  0.625105  0.73015  0.796445
4                       Bangladesh  0.35117  0.353360  0.35555  0.399995

      2011      2012     2013
0  0.52941  0.540295  0.55118
1  0.86274  0.895935  0.92913
2  0.74509  0.746560  0.74803
3  0.86274  0.899870  0.93700
4  0.44444  0.395445  0.34645

---------------------

  Internet users per 100       2007       2008   2009   2010       2011  \
0              Argentina  25.946633  28.112623  34.00  45.00  51.000000
1              Australia  69.450000  71.670000  74.25  76.00  79.487698
2                Austria  69.370000  72.870000  73.45  75.17  78.739993
3                Bahrain  32.910000  51.950000  53.00  55.00  76.999967
4             Bangladesh   1.800000   2.500000   3.10   3.70   5.000000

        2012     2013
0  55.800000  59.9000
1  79.000000  83.0000
2  80.029994  80.6188
3  88.000000  90.0000
4   5.750000   6.5000

---------------------

  E-participation index     2007      2008     2009     2010    2011  \
0             Argentina  0.45454  0.327270  0.20000  0.24475  0.2895
1             Australia  0.88636  0.900320  0.91428  0.83874  0.7632
2               Austria  0.47727  0.488635  0.50000  0.43420  0.3684
3               Bahrain  0.34090  0.506160  0.67142  0.66466  0.6579
4            Bangladesh  0.13636  0.118180  0.10000  0.08945  0.0789

       2012     2013
0  0.419255  0.54901
1  0.852185  0.94117
2  0.497925  0.62745
3  0.740710  0.82352
4  0.235525  0.39215

---------------------

In [34]:
for table in spreadsheet:
    print(table.tail(10).iloc[:,0], end='\n\n---------------------\n\n')

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Secure Internet Servers per million population, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name:  IXPs (if have IXPs=1; if not=0), dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Mobile broadband monthly subscription per GDPC, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Literacy rates, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Secondary enrolment rates (gross), dtype: object

---------------------

82       Viet Nam
83    Yemen, Rep.
84         Zambia
85       Zimbabwe
86            NaN
87        Average
88            NaN
89             SD
90            NaN
91          count
Name: tertiary enrolment rates (gross) female/male, dtype: object

---------------------

82       Viet Nam
83    Yemen, Rep.
84         Zambia
85       Zimbabwe
86            NaN
87        Average
88            NaN
89             SD
90            NaN
91          count
Name: WB H school life expectancy female/male, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Press Freedom Index, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Freedom of the press, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Political Rights, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Civil Rights, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Government online services index, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Internet users per 100, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: E-participation index, dtype: object

---------------------

In [86]:
clean_table = []

for table in spreadsheet:
    table = table.set_index(table.columns[0])
    table = table.drop(table.tail(6).index)
    table = table.replace(regex=r'.+', value=np.nan)
    clean_table.append(table)

clean_table

[                                                      2007        2008  \
 Secure Internet Servers per million population
 Argentina                                        15.636379   18.348585
 Australia                                       814.832242  999.049376
 Austria                                         400.082498  480.992634
 Bahrain                                          40.683758   53.761610
 Bangladesh                                        0.040968    0.101372
 ...                                                    ...         ...
 Venezuela (Bolivarian Republic Of)                6.183121    6.721120
 Viet Nam                                          0.605549    1.127789
 Yemen                                             0.094419    0.184301
 Zambia                                            0.082579    0.321117
 Zimbabwe                                          0.313968    0.547558

                                                        2009         2010  \
 Secure Internet Servers per million population
 Argentina                                         19.838275    26.105765
 Australia                                       1222.449140  1784.556868
 Austria                                          553.717600   856.042435
 Bahrain                                           62.943806    98.281041
 Bangladesh                                         0.193976     0.311000
 ...                                                     ...          ...
 Venezuela (Bolivarian Republic Of)                 7.382000     7.368313
 Viet Nam                                           1.883173     3.128864
 Yemen                                              0.224925     0.307516
 Zambia                                             0.701753     1.210564
 Zimbabwe                                           0.620688     0.994113

                                                        2011         2012  \
 Secure Internet Servers per million population
 Argentina                                         33.637183    41.789448
 Australia                                       2027.797672  1721.403456
 Austria                                          994.743515  1139.028500
 Bahrain                                          120.671677   135.829665
 Bangladesh                                         0.628016     0.730468
 ...                                                     ...          ...
 Venezuela (Bolivarian Republic Of)                 7.999831    10.682768
 Viet Nam                                           4.678962     6.702496
 Yemen                                              0.429107     0.461169
 Zambia                                             1.540290     2.344566
 Zimbabwe                                           1.272575     2.987398

                                                        2013
 Secure Internet Servers per million population
 Argentina                                         42.874812
 Australia                                       1252.264287
 Austria                                         1079.328650
 Bahrain                                          141.873678
 Bangladesh                                         0.766308
 ...                                                     ...
 Venezuela (Bolivarian Republic Of)                11.083628
 Viet Nam                                           8.159726
 Yemen                                              0.655539
 Zambia                                             2.751289
 Zimbabwe                                           3.180291

 [86 rows x 7 columns],
                                                     2007      2008      2009  \
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.057525  0.057525  0.057525
 Australia                                       0.011566  0.010191  0.009814
 Austria                                         0.007426  0.006745  0.006777
 Bahrain                                         0.016178  0.015324  0.017042
 Bangladesh                                      0.312941  0.285000  0.257419
 ...                                                  ...       ...       ...
 Venezuela (Bolivarian Republic Of)              0.056809  0.046284  0.042130
 Viet Nam                                        0.571765  0.486000  0.433929
 Yemen                                           0.292500  0.246316  0.217674
 Zambia                                          0.436800  0.337732  0.309057
 Zimbabwe                                        2.700000  3.375000  2.571429

                                                     2010      2011      2012  \
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.057525  0.057525  0.051631
 Australia                                       0.009288  0.008618  0.004134
 Austria                                         0.006691  0.006564  0.001401
 Bahrain                                         0.016970  0.017684  0.004049
 Bangladesh                                      0.231304  0.207273  0.156145
 ...                                                  ...       ...       ...
 Venezuela (Bolivarian Republic Of)              0.037083  0.036327  0.013291
 Viet Nam                                        0.382677  0.349640  0.016258
 Yemen                                           0.216000  0.260000  0.230164
 Zambia                                          0.303333  0.277627  0.183830
 Zimbabwe                                        2.000000  1.479452  0.810000

                                                     2013
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.051631
 Australia                                       0.003773
 Austria                                         0.001383
 Bahrain                                         0.004049
 Bangladesh                                      0.144000
 ...                                                  ...
 Venezuela (Bolivarian Republic Of)              0.013195
 Viet Nam                                        0.014566
 Yemen                                           0.211128
 Zambia                                          0.175135
 Zimbabwe                                        0.790244

 [86 rows x 7 columns],
                                          2007       2008       2009  \
 Literacy rates
 Argentina                           97.916092  97.916092  97.916092
 Australia                                 NaN        NaN        NaN
 Austria                                   NaN        NaN        NaN
 Bahrain                             94.556793  94.556793  94.556793
 Bangladesh                          58.787720  58.787720  58.787720
 ...                                       ...        ...        ...
 Venezuela (Bolivarian Republic Of)  95.154640  95.333317  95.511993
 Viet Nam                            93.520454  93.520454  93.520454
 Yemen                               66.373772  66.373772  66.373772
 Zambia                              61.428288  61.428288  61.428288
 Zimbabwe                            83.582718  83.582718  83.582718

                                          2010       2011       2012       2013
 Literacy rates
 Argentina                           97.916092  97.916092  97.916092  97.916092
 Australia                                 NaN        NaN        NaN        NaN
 Austria                                   NaN        NaN        NaN        NaN
 Bahrain                             94.556793  94.556793  94.556793  94.556793
 Bangladesh                          58.787720  58.787720  58.787720  58.787720
 ...                                       ...        ...        ...        ...
 Venezuela (Bolivarian Republic Of)  95.511993  95.511993  95.511993  95.511993
 Viet Nam                            93.520454  93.520454  93.520454  93.520454
 Yemen                               66.373772  66.373772  66.373772  66.373772
 Zambia                              61.428288  61.428288  61.428288  61.428288
 Zimbabwe                            83.582718  83.582718  83.582718  83.582718

 [86 rows x 7 columns],
                                          2007       2008       2009  \
 Secondary enrolment rates (gross)
 Argentina                            84.71264   85.88642   88.57930
 Australia                           125.38581  126.74231  128.78038
 Austria                              99.46533   99.07034   99.30265
 Bahrain                                   NaN   92.03623   96.43667
 Bangladesh                           46.37140   44.46002   48.17374
 ...                                       ...        ...        ...
 Venezuela (Bolivarian Republic Of)   79.60593   81.40130   82.34269
 Viet Nam                                  NaN        NaN        NaN
 Yemen                                43.40144   43.40144   43.85283
 Zambia                                    NaN        NaN        NaN
 Zimbabwe                                  NaN        NaN        NaN

                                          2010       2011       2012       2013
 Secondary enrolment rates (gross)
 Argentina                            90.22608   91.93817   91.93817   91.93817
 Australia                           130.84425  133.04507  135.53543  135.53543
 Austria                              98.54810   97.96985   97.69036   97.69036
 Bahrain                              96.43667  103.65631   95.51475   95.51475
 Bangladesh                           49.48382   50.79390   50.79390   50.79390
 ...                                       ...        ...        ...        ...
 Venezuela (Bolivarian Republic Of)   82.34269   82.34269   82.34269   82.34269
 Viet Nam                                  NaN        NaN        NaN        NaN
 Yemen                                44.30422   46.23057   46.23057   46.23057
 Zambia                                    NaN        NaN        NaN        NaN
 Zimbabwe                                  NaN        NaN        NaN        NaN

 [86 rows x 7 columns],
                                                  2007     2008      2009  \
 tertiary enrolment rates (gross) female/male
 Argentina                                     152.337  152.520  151.2350
 Australia                                     129.143  131.370  134.6100
 Austria                                       119.927  118.156  117.8820
 Bahrain                                       157.467  157.467  157.4670
 Bangladesh                                     55.138   55.391   59.7170
 ...                                               ...      ...       ...
 Venezuela (Bolivarian Republic Of)            169.419  169.419  169.4190
 Viet Nam                                      100.124   98.138   99.2780
 Yemen, Rep.                                    41.330   43.141   43.4455
 Zambia                                            NaN      NaN       NaN
 Zimbabwe                                       79.858   79.858   79.8580

                                                   2010     2011     2012  \
 tertiary enrolment rates (gross) female/male
 Argentina                                     150.9420  156.225  156.225
 Australia                                     136.5470  137.598  138.061
 Austria                                       117.1620  118.648  119.556
 Bahrain                                       157.4670  187.744  198.164
 Bangladesh                                     64.3755   69.034   69.034
 ...                                                ...      ...      ...
 Venezuela (Bolivarian Republic Of)            169.4190  169.419  169.419
 Viet Nam                                      100.3930  101.619  101.619
 Yemen, Rep.                                    43.7500   44.093   44.093
 Zambia                                             NaN      NaN      NaN
 Zimbabwe                                       79.8580   76.247   77.545

                                                  2013
 tertiary enrolment rates (gross) female/male
 Argentina                                     156.225
 Australia                                     138.061
 Austria                                       119.556
 Bahrain                                       198.164
 Bangladesh                                     69.034
 ...                                               ...
 Venezuela (Bolivarian Republic Of)            169.419
 Viet Nam                                      101.619
 Yemen, Rep.                                    44.093
 Zambia                                            NaN
 Zimbabwe                                       77.545

 [86 rows x 7 columns],
                                             2007     2008     2009     2010  \
 WB H school life expectancy female/male
 Argentina                                1.04453  1.04977  1.04318  1.03721
 Australia                                0.98747  0.98565  0.97820  0.97436
 Austria                                  0.97015  0.96758  0.96850  0.97277
 Bahrain                                      NaN      NaN      NaN      NaN
 Bangladesh                               1.06881  1.09024  1.06345  1.08986
 ...                                          ...      ...      ...      ...
 Venezuela (Bolivarian Republic Of)       1.02564  1.02170  1.01871  1.01876
 Viet Nam                                     NaN      NaN      NaN      NaN
 Yemen, Rep.                              0.71705  0.71705  0.73212  0.74719
 Zambia                                       NaN      NaN      NaN      NaN
 Zimbabwe                                     NaN      NaN      NaN      NaN

                                             2011     2012     2013
 WB H school life expectancy female/male
 Argentina                                1.03808  1.03808  1.03808
 Australia                                0.97320  0.97221  0.97221
 Austria                                  0.97532  0.97694  0.97694
 Bahrain                                      NaN      NaN      NaN
 Bangladesh                               1.09623  1.09623  1.09623
 ...                                          ...      ...      ...
 Venezuela (Bolivarian Republic Of)       1.01971  1.02426  1.02426
 Viet Nam                                     NaN      NaN      NaN
 Yemen, Rep.                              0.75129  0.76642  0.76642
 Zambia                                       NaN      NaN      NaN
 Zimbabwe                                     NaN      NaN      NaN

 [86 rows x 7 columns],
                                      2007   2008   2009   2010   2011   2012  \
 Press Freedom Index
 Argentina                           14.08  11.33  16.35   14.0  25.67  25.67
 Australia                            6.25   3.13   5.38    4.0  15.24  15.24
 Austria                              3.50   3.00   0.50   -8.0   9.40   9.40
 Bahrain                             21.17  36.50  51.38  125.0  62.75  62.75
 Bangladesh                          42.70  37.33  42.50   57.0  42.01  42.01
 ...                                   ...    ...    ...    ...    ...    ...
 Venezuela (Bolivarian Republic Of)  27.33  39.50  47.33   55.0  34.44  34.44
 Viet Nam                            86.17  81.67  75.75  114.0  71.78  71.78
 Yemen                               59.00  83.38  82.13  101.0  69.22  69.22
 Zambia                              15.50  26.75  22.00   30.0  27.93  27.93
 Zimbabwe                            54.00  46.50  39.50   55.0  38.12  38.12

                                      2013
 Press Freedom Index
 Argentina                           25.27
 Australia                           16.91
 Austria                             10.01
 Bahrain                             58.26
 Bangladesh                          42.58
 ...                                   ...
 Venezuela (Bolivarian Republic Of)  35.37
 Viet Nam                            72.36
 Yemen                               67.26
 Zambia                              30.89
 Zimbabwe                            39.19

 [86 rows x 7 columns],
                                       2007  2008  2009  2010  2011  2012  2013
 Freedom House - Freedom of the press
 Argentina                             47.0  49.0  49.0  51.0  50.0  52.0  51.0
 Australia                             21.0  22.0  22.0  21.0  21.0  21.0  22.0
 Austria                               21.0  21.0  21.0  21.0  21.0  21.0  21.0
 Bahrain                               71.0  71.0  71.0  72.0  84.0  86.0  87.0
 Bangladesh                            68.0  63.0  56.0  54.0  52.0  53.0  54.0
 ...                                    ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)    74.0  73.0  75.0  76.0  76.0  76.0  78.0
 Viet Nam                              82.0  83.0  82.0  83.0  84.0  84.0  84.0
 Yemen                                 78.0  79.0  80.0  83.0  83.0  79.0  76.0
 Zambia                                64.0  65.0  64.0  61.0  60.0  60.0  61.0
 Zimbabwe                              89.0  88.0  84.0  81.0  80.0  77.0  73.0

 [86 rows x 7 columns],
                                     2007  2008  2009  2010  2011  2012  2013
 Freedom House - Political Rights
 Argentina                            2.0   2.0   2.0   2.0   2.0   2.0   2.0
 Australia                            1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Austria                              1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Bahrain                              5.0   5.0   6.0   6.0   6.0   6.0   6.0
 Bangladesh                           5.0   4.0   3.0   3.0   3.0   3.0   3.0
 ...                                  ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)   4.0   4.0   5.0   5.0   5.0   5.0   5.0
 Viet Nam                             7.0   7.0   7.0   7.0   7.0   7.0   7.0
 Yemen                                5.0   5.0   6.0   6.0   6.0   6.0   6.0
 Zambia                               3.0   3.0   3.0   3.0   3.0   3.0   3.0
 Zimbabwe                             7.0   7.0   6.0   6.0   6.0   6.0   5.0

 [86 rows x 7 columns],
                                     2007  2008  2009  2010  2011  2012  2013
 Freedom House - Civil Rights
 Argentina                            2.0   2.0   2.0   2.0   2.0   2.0   2.0
 Australia                            1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Austria                              1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Bahrain                              5.0   5.0   5.0   5.0   6.0   6.0   6.0
 Bangladesh                           4.0   4.0   4.0   4.0   4.0   4.0   4.0
 ...                                  ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)   4.0   4.0   4.0   5.0   5.0   5.0   5.0
 Viet Nam                             5.0   5.0   5.0   5.0   5.0   5.0   5.0
 Yemen                                5.0   5.0   5.0   5.0   6.0   6.0   6.0
 Zambia                               4.0   3.0   4.0   4.0   4.0   4.0   4.0
 Zimbabwe                             6.0   6.0   6.0   6.0   6.0   6.0   6.0

 [86 rows x 7 columns],
                                        2007      2008     2009      2010  \
 Government online services index
 Argentina                           0.55852  0.485605  0.41269  0.471050
 Australia                           0.75250  0.758785  0.76507  0.813905
 Austria                             0.66555  0.570870  0.47619  0.610640
 Bahrain                             0.52006  0.625105  0.73015  0.796445
 Bangladesh                          0.35117  0.353360  0.35555  0.399995
 ...                                     ...       ...      ...       ...
 Venezuela (Bolivarian Republic Of)  0.46822  0.386490  0.30476  0.394210
 Viet Nam                            0.44481  0.374785  0.30476  0.364795
 Yemen                               0.07357  0.060590  0.04761  0.112040
 Zambia                              0.00000  0.052380  0.10476  0.209240
 Zimbabwe                            0.08695  0.106965  0.12698  0.213815


In [83]:
clean_table[1].replace(regex=r'.+', value=np.nan).loc['Benin']

2007   NaN
2008   NaN
2009   NaN
2010   NaN
2011   NaN
2012   NaN
2013   NaN
Name: Benin, dtype: float64

In [5]:
print(wb_a.info(), end='\n\n---------------------\n\n')
print(pch_a.info(), end='\n\n---------------------\n\n')
print(itu_s.info(), end='\n\n---------------------\n\n')
print(un_b.info(), end='\n\n---------------------\n\n')
print(wb_d.info(), end='\n\n---------------------\n\n')
print(wb_c.info(), end='\n\n---------------------\n\n')
print(wb_h.info(), end='\n\n---------------------\n\n')
print(rsf_a.info(), end='\n\n---------------------\n\n')
print(fh_c.info(), end='\n\n---------------------\n\n')
print(fh_a.info(), end='\n\n---------------------\n\n')
print(fh_b.info(), end='\n\n---------------------\n\n')
print(un_c.info(), end='\n\n---------------------\n\n')
print(itu_n.info(), end='\n\n---------------------\n\n')
print(un_d.info(), end='\n\n---------------------\n\n')
print(raw.info(), end='\n\n---------------------\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secure Internet Servers per million population    89 non-null object
2007                                              89 non-null float64
2008                                              89 non-null float64
2009                                              89 non-null float64
2010                                              89 non-null float64
2011                                              89 non-null float64
2012                                              89 non-null float64
2013                                              89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 IXPs (if have IXPs=1; if not=0)    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Mobile broadband monthly subscription per GDPC    89 non-null object
2007                                              89 non-null object
2008                                              89 non-null object
2009                                              89 non-null object
2010                                              89 non-null object
2011                                              89 non-null object
2012                                              89 non-null object
2013                                              89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Literacy rates    89 non-null object
2007              65 non-null float64
2008              65 non-null float64
2009              65 non-null float64
2010              65 non-null float64
2011              65 non-null float64
2012              65 non-null float64
2013              65 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secondary enrolment rates (gross)    89 non-null object
2007                                 79 non-null float64
2008                                 80 non-null float64
2009                                 80 non-null float64
2010                                 80 non-null float64
2011                                 80 non-null float64
2012                                 80 non-null float64
2013                                 80 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
tertiary enrolment rates (gross) female/male    89 non-null object
2007                                            78 non-null float64
2008                                            78 non-null float64
2009                                            78 non-null float64
2010                                            78 non-null float64
2011                                            78 non-null float64
2012                                            78 non-null float64
2013                                            78 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
WB H school life expectancy female/male    89 non-null object
2007                                       89 non-null object
2008                                       89 non-null object
2009                                       89 non-null object
2010                                       89 non-null object
2011                                       89 non-null object
2012                                       89 non-null object
2013                                       89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Press Freedom Index    89 non-null object
2007                   89 non-null float64
2008                   89 non-null float64
2009                   89 non-null float64
2010                   89 non-null float64
2011                   89 non-null float64
2012                   89 non-null float64
2013                   89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Freedom of the press    89 non-null object
2007                                    89 non-null float64
2008                                    89 non-null float64
2009                                    89 non-null float64
2010                                    89 non-null float64
2011                                    89 non-null float64
2012                                    89 non-null float64
2013                                    89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Political Rights    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Civil Rights    89 non-null object
2007                            89 non-null float64
2008                            89 non-null float64
2009                            89 non-null float64
2010                            89 non-null float64
2011                            89 non-null float64
2012                            89 non-null float64
2013                            89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Government online services index    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Internet users per 100    89 non-null object
2007                      89 non-null float64
2008                      89 non-null float64
2009                      89 non-null float64
2010                      89 non-null float64
2011                      89 non-null float64
2012                      89 non-null float64
2013                      89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
E-participation index    89 non-null object
2007                     89 non-null float64
2008                     89 non-null float64
2009                     89 non-null float64
2010                     89 non-null float64
2011                     89 non-null float64
2012                     89 non-null float64
2013                     89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 31 columns):
Country        86 non-null object
WI.2014.S1     87 non-null object
WI.2014.S2     87 non-null object
WI.2014.S3     87 non-null object
WI.2014.S4     87 non-null object
WI.2014.S5     87 non-null object
WI.2014.S6     87 non-null object
WI.2014.S7     87 non-null object
WI.2014.S8     87 non-null object
WI.2014.S9     87 non-null object
WI.2014.S10    87 non-null object
WI.2014.S11    87 non-null object
WI.2014.S12    87 non-null object
WI.2014.S13    87 non-null object
WI.2014.P2     87 non-null object
WI.2014.P3     87 non-null object
WI.2014.P4     87 non-null object
WI.2014.P5     87 non-null object
WI.2014.P6     87 non-null object
WI.2014.P7     87 non-null object
WI.2014.P8     87 non-null object
WI.2014.P9     87 non-null object
WI.2014.P10    87 non-null object
ODB.2013.C1    87 non-null object
ODB.2013.I1    87 non-null object
ODB.2013.I2    87 non-null object
ODB.2013.I3    87 non-null object
ODB.2013.I4    87 non-null object
ODB.2013.I5    87 non-null object
ODB.2013.I6    87 non-null object
AI.2014.A13    87 non-null object
dtypes: object(31)
memory usage: 21.2+ KB
None

---------------------

In [6]:
print(wb_a.head(), end='\n\n---------------------\n\n')
print(pch_a.head(), end='\n\n---------------------\n\n')
print(itu_s.head(), end='\n\n---------------------\n\n')
print(un_b.head(), end='\n\n---------------------\n\n')
print(wb_d.head(), end='\n\n---------------------\n\n')
print(wb_c.head(), end='\n\n---------------------\n\n')
print(wb_h.head(), end='\n\n---------------------\n\n')
print(rsf_a.head(), end='\n\n---------------------\n\n')
print(fh_c.head(), end='\n\n---------------------\n\n')
print(fh_a.head(), end='\n\n---------------------\n\n')
print(fh_b.head(), end='\n\n---------------------\n\n')
print(un_c.head(), end='\n\n---------------------\n\n')
print(itu_n.head(), end='\n\n---------------------\n\n')
print(un_d.head(), end='\n\n---------------------\n\n')
print(raw.head(), end='\n\n---------------------\n\n')

  Secure Internet Servers per million population        2007        2008  \
0                                      Argentina   15.636379   18.348585
1                                      Australia  814.832242  999.049376
2                                        Austria  400.082498  480.992634
3                                        Bahrain   40.683758   53.761610
4                                     Bangladesh    0.040968    0.101372

          2009         2010         2011         2012         2013
0    19.838275    26.105765    33.637183    41.789448    42.874812
1  1222.449140  1784.556868  2027.797672  1721.403456  1252.264287
2   553.717600   856.042435   994.743515  1139.028500  1079.328650
3    62.943806    98.281041   120.671677   135.829665   141.873678
4     0.193976     0.311000     0.628016     0.730468     0.766308

---------------------

   IXPs (if have IXPs=1; if not=0)  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   1.0   1.0   1.0   1.0   1.0   1.0   1.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   1.0   1.0   1.0   1.0   1.0   1.0   1.0
4                       Bangladesh   1.0   1.0   1.0   1.0   1.0   1.0   1.0

---------------------

  Mobile broadband monthly subscription per GDPC        2007        2008  \
0                                      Argentina   0.0575246   0.0575246
1                                      Australia   0.0115663   0.0101911
2                                        Austria  0.00742588  0.00674503
3                                        Bahrain   0.0161784   0.0153241
4                                     Bangladesh    0.312941       0.285

         2009        2010        2011        2012        2013
0   0.0575246   0.0575246   0.0575246   0.0516306   0.0516306
1  0.00981372  0.00928833  0.00861759  0.00413447  0.00377289
2  0.00677689  0.00669069  0.00656406  0.00140117    0.001383
3   0.0170422   0.0169697   0.0176842  0.00404908  0.00404908
4    0.257419    0.231304    0.207273    0.156145       0.144

---------------------

  Literacy rates       2007       2008       2009       2010       2011  \
0      Argentina  97.916092  97.916092  97.916092  97.916092  97.916092
1      Australia        NaN        NaN        NaN        NaN        NaN
2        Austria        NaN        NaN        NaN        NaN        NaN
3        Bahrain  94.556793  94.556793  94.556793  94.556793  94.556793
4     Bangladesh  58.787720  58.787720  58.787720  58.787720  58.787720

        2012       2013
0  97.916092  97.916092
1        NaN        NaN
2        NaN        NaN
3  94.556793  94.556793
4  58.787720  58.787720

---------------------

  Secondary enrolment rates (gross)       2007       2008       2009  \
0                         Argentina   84.71264   85.88642   88.57930
1                         Australia  125.38581  126.74231  128.78038
2                           Austria   99.46533   99.07034   99.30265
3                           Bahrain        NaN   92.03623   96.43667
4                        Bangladesh   46.37140   44.46002   48.17374

        2010       2011       2012       2013
0   90.22608   91.93817   91.93817   91.93817
1  130.84425  133.04507  135.53543  135.53543
2   98.54810   97.96985   97.69036   97.69036
3   96.43667  103.65631   95.51475   95.51475
4   49.48382   50.79390   50.79390   50.79390

---------------------

  tertiary enrolment rates (gross) female/male     2007     2008     2009  \
0                                    Argentina  152.337  152.520  151.235
1                                    Australia  129.143  131.370  134.610
2                                      Austria  119.927  118.156  117.882
3                                      Bahrain  157.467  157.467  157.467
4                                   Bangladesh   55.138   55.391   59.717

       2010     2011     2012     2013
0  150.9420  156.225  156.225  156.225
1  136.5470  137.598  138.061  138.061
2  117.1620  118.648  119.556  119.556
3  157.4670  187.744  198.164  198.164
4   64.3755   69.034   69.034   69.034

---------------------

  WB H school life expectancy female/male     2007     2008     2009     2010  \
0                               Argentina  1.04453  1.04977  1.04318  1.03721
1                               Australia  0.98747  0.98565   0.9782  0.97436
2                                 Austria  0.97015  0.96758   0.9685  0.97277
3                                 Bahrain       ..       ..       ..       ..
4                              Bangladesh  1.06881  1.09024  1.06345  1.08986

      2011     2012     2013
0  1.03808  1.03808  1.03808
1   0.9732  0.97221  0.97221
2  0.97532  0.97694  0.97694
3       ..       ..       ..
4  1.09623  1.09623  1.09623

---------------------

  Press Freedom Index   2007   2008   2009   2010   2011   2012   2013
0           Argentina  14.08  11.33  16.35   14.0  25.67  25.67  25.27
1           Australia   6.25   3.13   5.38    4.0  15.24  15.24  16.91
2             Austria   3.50   3.00   0.50   -8.0   9.40   9.40  10.01
3             Bahrain  21.17  36.50  51.38  125.0  62.75  62.75  58.26
4          Bangladesh  42.70  37.33  42.50   57.0  42.01  42.01  42.58

---------------------

  Freedom House - Freedom of the press  2007  2008  2009  2010  2011  2012  \
0                            Argentina  47.0  49.0  49.0  51.0  50.0  52.0
1                            Australia  21.0  22.0  22.0  21.0  21.0  21.0
2                              Austria  21.0  21.0  21.0  21.0  21.0  21.0
3                              Bahrain  71.0  71.0  71.0  72.0  84.0  86.0
4                           Bangladesh  68.0  63.0  56.0  54.0  52.0  53.0

   2013
0  51.0
1  22.0
2  21.0
3  87.0
4  54.0

---------------------

  Freedom House - Political Rights  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   5.0   5.0   6.0   6.0   6.0   6.0   6.0
4                       Bangladesh   5.0   4.0   3.0   3.0   3.0   3.0   3.0

---------------------

  Freedom House - Civil Rights  2007  2008  2009  2010  2011  2012  2013
0                    Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                    Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                      Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                      Bahrain   5.0   5.0   5.0   5.0   6.0   6.0   6.0
4                   Bangladesh   4.0   4.0   4.0   4.0   4.0   4.0   4.0

---------------------

  Government online services index     2007      2008     2009      2010  \
0                        Argentina  0.55852  0.485605  0.41269  0.471050
1                        Australia  0.75250  0.758785  0.76507  0.813905
2                          Austria  0.66555  0.570870  0.47619  0.610640
3                          Bahrain  0.52006  0.625105  0.73015  0.796445
4                       Bangladesh  0.35117  0.353360  0.35555  0.399995

      2011      2012     2013
0  0.52941  0.540295  0.55118
1  0.86274  0.895935  0.92913
2  0.74509  0.746560  0.74803
3  0.86274  0.899870  0.93700
4  0.44444  0.395445  0.34645

---------------------

  Internet users per 100       2007       2008   2009   2010       2011  \
0              Argentina  25.946633  28.112623  34.00  45.00  51.000000
1              Australia  69.450000  71.670000  74.25  76.00  79.487698
2                Austria  69.370000  72.870000  73.45  75.17  78.739993
3                Bahrain  32.910000  51.950000  53.00  55.00  76.999967
4             Bangladesh   1.800000   2.500000   3.10   3.70   5.000000

        2012     2013
0  55.800000  59.9000
1  79.000000  83.0000
2  80.029994  80.6188
3  88.000000  90.0000
4   5.750000   6.5000

---------------------

  E-participation index     2007      2008     2009     2010    2011  \
0             Argentina  0.45454  0.327270  0.20000  0.24475  0.2895
1             Australia  0.88636  0.900320  0.91428  0.83874  0.7632
2               Austria  0.47727  0.488635  0.50000  0.43420  0.3684
3               Bahrain  0.34090  0.506160  0.67142  0.66466  0.6579
4            Bangladesh  0.13636  0.118180  0.10000  0.08945  0.0789

       2012     2013
0  0.419255  0.54901
1  0.852185  0.94117
2  0.497925  0.62745
3  0.740710  0.82352
4  0.235525  0.39215

---------------------

     Country                                         WI.2014.S1  \
0        NaN  To what extent are ICTs being used to improve ...
1  Argentina                                                  4
2  Australia                                                  6
3    Austria                                                  5
4    Bahrain                                                  5

                                          WI.2014.S2  \
0  To what extent are health workers in the publi...
1                                                  4
2                                                  8
3                                                  4
4                                                  0

                                          WI.2014.S3  \
0  To what extent are ICTs being used to improve ...
1                                                  5
2                                                  8
3                                                  6
4                                                  5

                                          WI.2014.S4  \
0  To what extent are teachers and administrators...
1                                                  7
2                                                  8
3                                                  7
4                                                  1

                                          WI.2014.S5  \
0  To what extent are web-powered ICTs contributi...
1                                                  6
2                                                  7
3                                                  8
4                                                  4

                                          WI.2014.S6  \
0  To what extent can smallholder farmers discove...
1                                                  6
2                                                 10
3                                                 10
4                                                  3

                                          WI.2014.S7  \
0  To what extent are Web-powered ICTs used by go...
1                                                  7
2                                                  7
3                                                  8
4                                                  1

                                          WI.2014.S8  \
0  To what extent has campaigning through web-pow...
1                                                  7
2                                                  7
3                                                  8
4                                                  0

                                          WI.2014.S9  ...  \
0  To what extent have web-powered ICTs made a no...  ...
1                                                  6  ...
2                                                  6  ...
3                                                  8  ...
4                                                  0  ...

                                          WI.2014.P9  \
0  To what extent are there laws and regulations ...
1                                                  6
2                                                  0
3                                                  9
4                                                  0

                                         WI.2014.P10  \
0  To what extent does the law protect people fro...
1                                                  7
2                                                  8
3                                                  8
4                                                  2

                                         ODB.2013.C1  \
0  To what extent is there a well-resourced open ...
1                                                  5
2                                                  8
3                                                  6
4                                                  4

                                         ODB.2013.I1  \
0  To what extent has open data had a noticeable ...
1                                                  0
2                                                  1
3                                                  3
4                                                  0

                                         ODB.2013.I2  \
0  To what extent has open data had a noticeable ...
1                                                  3
2                                                  2
3                                                  4
4                                                  0

                                         ODB.2013.I3  \
0  To what extent has open data had a noticeable ...
1                                                  2
2                                                  2
3                                                  5
4                                                  0

                                         ODB.2013.I4  \
0  To what extent has open data had a noticeable ...
1                                                  0
2                                                  2
3                                                  4
4                                                  0

                                         ODB.2013.I5  \
0  To what extent has open data had a noticeable ...
1                                                  1
2                                                  3
3                                                  3
4                                                  0

                                         ODB.2013.I6  \
0  To what extent are entrepreneurs sucesfully us...
1                                                  2
2                                                  3
3                                                  6
4                                                  0

                                         AI.2014.A13
0  Are there specific policies to promote free or...
1                                                  5
2                                                  8
3                                                  6
4                                                  0

[5 rows x 31 columns]

---------------------

In [42]:
itu_s.set_index(itu_s.columns[0]).index.name

'Mobile broadband monthly subscription per GDPC'

In [7]:
idx_wb_a = wb_a.set_index('Secure Internet Servers per million population')
idx_wb_a

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Argentina,15.636379,18.348585,19.838275,26.105765,33.637183,41.789448,42.874812
Australia,814.832242,999.049376,1222.449140,1784.556868,2027.797672,1721.403456,1252.264287
Austria,400.082498,480.992634,553.717600,856.042435,994.743515,1139.028500,1079.328650
Bahrain,40.683758,53.761610,62.943806,98.281041,120.671677,135.829665,141.873678
Bangladesh,0.040968,0.101372,0.193976,0.311000,0.628016,0.730468,0.766308
...,...,...,...,...,...,...,...
MEAN,168.296107,205.475487,237.342356,339.879215,408.833524,418.163256,374.921889
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SD,300.598262,359.792319,414.008742,603.323433,725.971047,737.578496,649.108086
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000

In [8]:
idx_wb_a.tail(20)

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Tunisia,8.899668,10.649730,12.452584,14.124428,19.299593,13.082811,16.993524
Turkey,40.548797,60.116386,69.440272,99.837053,143.638046,116.761288,50.431961
Uganda,0.065086,0.220273,0.304281,0.853262,1.479456,1.458213,1.170871
Ukraine,2.838139,4.280322,5.993056,13.232848,17.721923,23.490294,26.489571
United Arab Emirates,71.929453,82.957829,98.207913,135.638806,159.438061,183.691517,194.198047
United Kingdom Of Great Britain And Northern Ireland,750.312328,898.992096,1141.570537,1384.148979,1576.979233,1467.414897,1193.455209
United Republic Of Tanzania,0.072958,0.188885,0.229149,0.400237,0.496175,0.753404,1.076074
United States Of America,1061.762502,1174.788190,1235.078761,1445.050121,1563.210065,1474.265038,1305.970696
Uruguay,37.443266,42.402008,35.412124,44.780785,70.046100,80.406379,75.138051
Venezuela (Bolivarian Republic Of),6.183121,6.721120,7.382000,7.368313,7.999831,10.682768,11.083628
Viet Nam,0.605549,1.127789,1.883173,3.128864,4.678962,6.702496,8.159726
Yemen,0.094419,0.184301,0.224925,0.307516,0.429107,0.461169,0.655539
Zambia,0.082579,0.321117,0.701753,1.210564,1.540290,2.344566,2.751289
Zimbabwe,0.313968,0.547558,0.620688,0.994113,1.272575,2.987398,3.180291
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MEAN,168.296107,205.475487,237.342356,339.879215,408.833524,418.163256,374.921889
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SD,300.598262,359.792319,414.008742,603.323433,725.971047,737.578496,649.108086
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000

In [9]:
clean_wb_a = idx_wb_a.drop(idx_wb_a.tail(6).index)
clean_wb_a

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Argentina,15.636379,18.348585,19.838275,26.105765,33.637183,41.789448,42.874812
Australia,814.832242,999.049376,1222.449140,1784.556868,2027.797672,1721.403456,1252.264287
Austria,400.082498,480.992634,553.717600,856.042435,994.743515,1139.028500,1079.328650
Bahrain,40.683758,53.761610,62.943806,98.281041,120.671677,135.829665,141.873678
Bangladesh,0.040968,0.101372,0.193976,0.311000,0.628016,0.730468,0.766308
...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic Of),6.183121,6.721120,7.382000,7.368313,7.999831,10.682768,11.083628
Viet Nam,0.605549,1.127789,1.883173,3.128864,4.678962,6.702496,8.159726
Yemen,0.094419,0.184301,0.224925,0.307516,0.429107,0.461169,0.655539
Zambia,0.082579,0.321117,0.701753,1.210564,1.540290,2.344566,2.751289
Zimbabwe,0.313968,0.547558,0.620688,0.994113,1.272575,2.987398,3.180291

In [10]:
clean_wb_a.index.name.lower().replace(' ','_')

'secure_internet_servers_per_million_population'

In [11]:
for row in clean_wb_a.iterrows():
    print(row[0])

Argentina
Australia
Austria
Bahrain
Bangladesh
Belgium
Benin
Botswana
Brazil
Burkina Faso
Cameroon
Canada
Chile
China
Colombia
Costa Rica
Czech Republic
Denmark
Ecuador
Egypt
Estonia
Ethiopia
Finland
France
Germany
Ghana
Greece
Haiti
Hungary
Iceland
India
Indonesia
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Malawi
Malaysia
Mali
Mauritius
Mexico
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nigeria
Norway
Pakistan
Peru
Philippines
Poland
Portugal
Qatar
Republic Of Korea
Russian Federation
Rwanda
Saudi Arabia
Senegal
Sierra Leone
Singapore
South Africa
Spain
Sweden
Switzerland
Thailand
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
United Kingdom Of Great Britain And Northern Ireland
United Republic Of Tanzania
United States Of America
Uruguay
Venezuela (Bolivarian Republic Of)
Viet Nam
Yemen
Zambia
Zimbabwe

In [53]:
un = getpass.getpass(prompt='PostGre Username: ', stream=None)
pw = getpass.getpass(prompt='PostGre Password: ', stream=None)

PostGre Username:
PostGre Password:

In [90]:
engine = create_engine(f'postgresql://{un}:{pw}@localhost:5432/etl_project')

In [88]:
Base.metadata.drop_all(engine)

In [91]:
Base = declarative_base()

session = Session(bind=engine)

for table in clean_table:
    table_name = table.index.name.lower().replace(' ','_')
    
#     print(table_name)
    
    
    class Year(Base):
        __tablename__ = table_name
        country = Column(String, primary_key=True)
        year_2007 = Column(Float)
        year_2008 = Column(Float)
        year_2009 = Column(Float)
        year_2010 = Column(Float)
        year_2011 = Column(Float)
        year_2012 = Column(Float)
        year_2013 = Column(Float)
    
    Base.metadata.create_all(engine)
    
    Base.metadata.drop_all(engine)
    
#     for row in table.iterrows():
#         print(row[0])
#         session.add(Year(country=row[0],
#                          year_2007=row[1][2007],
#                          year_2008=row[1][2008],
#                          year_2009=row[1][2009],
#                          year_2010=row[1][2010],
#                          year_2011=row[1][2011],
#                          year_2012=row[1][2012],
#                          year_2013=row[1][2013]
#                         ))
#         session.commit()
#         print(table_row)

In [18]:
table_name

'secure_internet_servers_per_million_population'

In [ ]:
engine.execute('select * from foo').fetchall()

In [ ]:
session = Session(bind=engine)
session.add(table_row)
session.commit()

In [ ]:
for item in session.query(Year):
    print(item.year_2007)

In [ ]:
table_row

In [ ]:
Base.metadata.tables

In [ ]:
for table in tbl_list:
    print(table[2008])

In [ ]:
for row in clean_wb_a.iterrows():
    print(row[1][2008])

In [ ]:
type(foo[1][2007])