In [9]:
# Dependencies
import openweathermapy as owm
import pandas as pd

# import api_key from config file
from config import api_key

In [10]:
# Create a settings dictionary with your API key and preferred units
settings = {
    "appid": api_key,
    "units": "metric"
}

In [11]:
# Read cities csv
city_list = pd.read_csv('../Resources/cities.csv')
city_list

          City
0        Paris
1       London
2         Oslo
3      Beijing
4       Moscow
5  Vladivostok
6        Osaka
7     Honolulu
8   Montevideo
9        Erbil

In [13]:
# Get data for each city in the cities_df
city_data = []

for city in city_list.City:
    city_data.append(owm.get_current(city, **settings))

print(len(city_data))

10

In [14]:
city_data[1]

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'id': 310,
   'main': 'Drizzle',
   'description': 'light intensity drizzle rain',
   'icon': '09n'},
  {'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}],
 'base': 'stations',
 'main': {'temp': 10.92,
  'pressure': 1007,
  'humidity': 93,
  'temp_min': 10,
  'temp_max': 12},
 'visibility': 3900,
 'wind': {'speed': 4.1, 'deg': 90},
 'rain': {'1h': 0.51},
 'clouds': {'all': 90},
 'dt': 1570926418,
 'sys': {'type': 1,
  'id': 1414,
  'country': 'GB',
  'sunrise': 1570947612,
  'sunset': 1570986790},
 'timezone': 3600,
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [22]:
# Create an "extracts" object to get the temperature, latitude, and longitude in each city
#name = []
#temp = []
#lat = []
#lon = []

city_summary = []

summary = ["name","main.temp","coord.lat","coord.lon"]

for city in city_data:
    city_summary.append(city(*summary))

city_df = pd.DataFrame(city_summary, columns=['Name','Temperature','Latitude','Longitude'])
# Create a Pandas DataFrame with the results
city_df

          Name  Temperature  Latitude  Longitude
0        Paris        14.92     48.86       2.35
1       London        10.92     51.51      -0.13
2         Oslo         4.05     59.91      10.74
3      Beijing        13.23     39.91     116.39
4       Moscow         8.34     55.75      37.62
5  Vladivostok         5.00     43.12     131.89
6        Osaka        20.00     34.70     135.50
7     Honolulu        29.41     21.30    -157.86
8   Montevideo         1.98     44.94     -95.72
9        Erbil        26.00     36.19      44.01