In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create Dog and Cat Classes
# ----------------------------------

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()


# Creates Classes which will serve as the anchor points for our Tables
class Dog(Base):
    __tablename__ = 'dogs'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)


class Cat(Base):
    __tablename__ = 'cats'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [3]:
# Create a Specific Instance of the Dog and Cat classes
# ----------------------------------

# Calls the Pet Constructors to create "Dog" and "Cat" objets
dog = Dog(name='Rex1', color='Brown', age=4)
cat = Cat(name="Felix", color="Gray", age=7)

In [4]:
Base.metadata.tables

immutabledict({'dogs': Table('dogs', MetaData(bind=None), Column('id', Integer(), table=<dogs>, primary_key=True, nullable=False), Column('name', String(length=255), table=<dogs>), Column('color', String(length=255), table=<dogs>), Column('age', Integer(), table=<dogs>), schema=None), 'cats': Table('cats', MetaData(bind=None), Column('id', Integer(), table=<cats>, primary_key=True, nullable=False), Column('name', String(length=255), table=<cats>), Column('color', String(length=255), table=<cats>), Column('age', Integer(), table=<cats>), schema=None)})

In [13]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine1 = create_engine("sqlite:///pets.sqlite")
engine2 = create_engine("postgre")
conn = engine.connect()

In [7]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [15]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [16]:
# Add Records to the Appropriate DB
# ----------------------------------
# Use the SQL ALchemy methods to run simple "INSERT" statements using the classes and objects  
session.add(dog)
session.add(cat)
session.commit()

In [17]:
# Query the Tables
# ----------------------------------
# Perform a simple query of the database
dog_list = session.query(Dog)
for doggy in dog_list:
    print(doggy.name)

Rex1

In [18]:
cat_list = session.query(Cat)
for kitty in cat_list:
    print(kitty.name)

Felix

In [19]:
Dog.__tablename__

'dogs'

In [20]:
Dog.__table__

Table('dogs', MetaData(bind=None), Column('id', Integer(), table=<dogs>, primary_key=True, nullable=False), Column('name', String(length=255), table=<dogs>), Column('color', String(length=255), table=<dogs>), Column('age', Integer(), table=<dogs>), schema=None)

## Another approach

In [21]:
from sqlalchemy import MetaData, Table

In [22]:
metadata = MetaData()

In [25]:
horse = Table('horse_model', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('name', String),
                 Column('color', String),
                 Column('age', Integer))

In [26]:
metadata.create_all(engine)

In [30]:
ins = horse.insert().values(
    name = 'Pony',
    color = 'Brown',
    age = 3
    )

In [28]:
print(ins)

INSERT INTO horse_model (name, color, age) VALUES (:name, :color, :age)

In [31]:
horse_list = session.query(horse)
for pony in horse_list:
    print(pony.name)

Pony

In [32]:
conn.execute(ins)

In [124]:
horse_list = session.query(Horse)
for pony in horse_list:
    print(pony.id, pony.name, pony.color)

1 Pony Brown

In [113]:
conn.execute(horse.delete())